<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动</title>
    <link th:href="@{/css/activity.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
</head>
<body>
<div class="contentbox">
<div class="header">
    <form th:action="@{/AdminActivityController/adminFindActivityProduct}" method="post">
        <!--<input type="text" name="product_keywords" placeholder="商品名称" th:value="*{}" class="ipt">-->
        <!--<input type="submit" value="搜索" class="btn">-->
        <a  th:href="@{/AdminActivityController/toAddActivity}" class="a-div adiv1">添加</a>
    </form>
</div>
<div class="mytable">
    <table class="table table-bordered able-box" id="mytable">
        <thead style="background-color: #F2F2F2;">
        <tr>
            <th>活动名称</th>
            <th>活动折扣</th>
            <th>相关图片</th>
            <th>活动结束时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activitie : ${activities}">
            <td th:text="${activitie.activity_name}">Doe</td>
            <td th:text="${activitie.activity_discount}"></td>
            <td><img th:src="${activitie.activity_picture}" style="width: 50px;"></td>
            <td th:text="${activitie.activity_time}"></td>
            <td>
                <a th:href="@{/AdminActivityController/deleteActivity(activitySumId=${activitie.activitySumId})}" class="a-div adiv1">删除</a>
                <a th:href="@{/AdminActivityController/toEditActivity(activitySumId=${activitie.activitySumId})}" class="a-div adiv2">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>