<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动商品列表</title>
    <link th:href="@{/css/adminActivityList.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/adminActivityList.js}"></script>
</head>
<body>
<div class="contentbox">
<div class="header">
    <form th:action="@{/AdminActivityController/adminFindActivityProduct}" method="post">
        <input type="text" name="product_keywords" placeholder="商品名称，活动名称" th:value="*{product_keywords}" class="ipt">
        <input type="submit" value="搜索活动商品" class="btn">
        <div class="a-div arise">批量操作</div>
        <div class="a-div hide delet">删除</div>
        <input class="ids" type="text" />
    </form>
</div>
<div class="mytable">
    <table>
        <thead style="background-color: #F2F2F2;">
        <tr>
            <th class="hide2"></th>
            <th>活动ID</th>
            <th class="keywords">商品简介</th>
            <th>相关图片</th>
            <th>活动名称</th>
            <th>活动折扣</th>
            <th>商品价格</th>
            <th style="width: 150px;">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activitie : ${activities}">
            <td class="hide2" style="position: relative">
                <label class="demo--label">
                    <input class="demo--radio select" type="checkbox">
                    <span class="demo--checkbox demo--radioInput"></span>
                </label>
            </td>
            <td class="activityid" th:text="${activitie.activityId}"></td>
            <td th:text="${activitie.product_keywords}"></td>
            <td><img th:src="${activitie.product_picture}" style="width: 50px;"></td>
            <td th:text="${activitie.activity_name}">Doe</td>
            <td th:text="${activitie.activity_discount}"></td>
            <td th:text="${activitie.product_mallPrice}"></td>
            <td>
                <a  th:href="@{/AdminActivityController/adminDeleteActivity(activityId=${activitie.activityId})}" class="a-div adiv1">删除</a>
                <a th:href="@{/AdminActivityController/toAdminEditActivity(activityId=${activitie.activityId})}"  class="a-div adiv2">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="fenye" th:if="${TotalPages>0}">
    <ul class="pagination" th:if="${Number==1}and${TotalPages>1}">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
        <li><a th:href="@{/AdminActivityController/activityProducts(page=1)}">首页</a></li>
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i >Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);"
               th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i >Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/AdminActivityController/activityProducts(page=${i})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li><a th:href="@{/AdminActivityController/activityProducts(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
    </ul>
    <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
        <li><a th:href="@{/AdminActivityController/activityProducts(page=1)}">首页</a></li><!--//跳转至第一页-->
        <li><a th:href="@{/AdminActivityController/activityProducts(page=${Number-1})}">上一页</a></li><!--//请求页数-1-->
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/AdminActivityController/activityProducts(page=${i})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number != TotalPages}"><a
                th:href="@{/AdminActivityController/activityProducts(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
        <li><a th:href="@{/AdminActivityController/activityProducts(page=${TotalPages})}">尾页</a></li><!--//跳转至第Number页-->
    </ul>
</div>
</div>
</body>
</html>