<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品</title>
    <!--<link  th:href="@{/bootstrap/dist/css/bootstrap.css}" rel="stylesheet">-->
    <link th:href="@{/css/commodity.css}" rel="stylesheet" type="text/css">
    <link  th:href="@{/images/xflogo.ico}" rel="shortcut icon"  type="image/x-icon"/>
    <link  th:href="@{/font/css/font-awesome.min.css}" rel="stylesheet">
    <script th:src="@{/js/commodity.js}"></script>
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>
<body>
<div class="contentbox">
<div class="header">
    <form th:action="@{/AdminProductController/adminFindProduct}" method="post">
        <input type="text" name="product_keywords" placeholder="商品名称,分类" th:value="*{product_keywords}" class="ipt">
        <input type="submit" value="搜索商品" class="btn">
    </form>
    <form th:action="@{/AdminActivityController/toAdminAddActivitys}">
        <a th:href="@{/AdminProductController/toAdminAddProduct}" class="a-div">添加</a>
        <div class="a-div arise">批量操作</div>
        <div class="a-div hide delet">删除</div>
        <input class="ids" name="productId" type="text" style="display: none" />
        <div class="a-div hide add">添加为活动</div>
        <input type="submit" value="添加为活动">
    </form>
</div>
<div class="mytable">
<table class="table table-bordered able-box" id="mytable">
    <thead style="background-color: #F2F2F2;">
    <tr>
        <th class="hide2"></th>
        <th>库存</th>
        <th>类别</th>
        <th>图片</th>
        <th>商品名称</th>
        <th>商品价格</th>
        <th style="width: 300px;">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td class="hide2" style="position: relative">
            <label class="demo--label">
                <input class="demo--radio select" type="checkbox">
                <span class="demo--checkbox demo--radioInput"></span>
            </label>
        </td>
        <td class="productid" style="display: none" th:text="${product.productId}"></td>
        <td th:text="${product.product_inventory}"></td>
        <td th:text="${product.product_category}"></td>
        <td><img th:src="${product.product_picture}" style="width: 45px;height: 45px;"></td>
        <td th:text="${product.product_keywords}" style="width: 200px"></td>
        <td th:text="${product.product_mallPrice}"></td>
        <td>
            <a th:href="@{/AdminActivityController/toAdminAddActivity(productId=${product.productId})}" class="a-div" style="background: #009688;">添加为活动</a>
            <a  th:href="@{/AdminProductController/toProductDetail(productId=${product.productId})}" class="a-div" style="background: #009688;">查看</a>
            <a href="javascript:void(0);" th:onclick="'javascript:deleteProduct('+${product.productId}+');'" class="a-div">删除</a>
            <a  th:href="@{/AdminProductController/toAdminEditProduct(productId=${product.productId})}" class="a-div">修改</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="fenye" th:if="${TotalPages > 0}">

    <ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
        <li><a th:href="@{/AdminProductController/adminProductList(page=1)}">首页</a></li>
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/AdminProductController/adminProductList(page=${i})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li><a th:href="@{/AdminProductController/adminProductList(page=${Number+1})}"  style="width: 70px">下一页</a></li><!--//请求页数+1-->
    </ul>

    <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
        <li><a th:href="@{/AdminProductController/adminProductList(page=1)}">首页</a></li><!--//跳转至第一页-->
        <li><a th:href="@{/AdminProductController/adminProductList(page=${Number-1})}"  style="width: 70px">上一页</a></li><!--//请求页数-1-->
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/AdminProductController/adminProductList(page=${i})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number != TotalPages}">
            <a th:href="@{/AdminProductController/adminProductList(page=${Number+1})}"  style="width: 70px">下一页</a></li><!--//请求页数+1-->
        <li><a th:href="@{/AdminProductController/adminProductList(page=${TotalPages})}">尾页</a></li><!--//跳转至第Number页-->
    </ul>

</div>
<!--遮屏弹窗  修改内容-->
<div class="windoww">
<div class="popup-windows">
    <h2 style="text-align: center">新增商品</h2>
    <form th:action="@{/AdminProductController/adminAddProduct}" method="post">
        <table class="table table-hover table-bordered">
            <tr>
                <th>商品名称</th>
                <td><input type="text" name="product_keywords" class="form-control" id="keywords" /></td>
            </tr>
            <tr>
                <th>上架状态</th>
                <td><input type="text" name="product_isShelf" class="form-control" id="condition" /></td>
            </tr>
            <tr>
                <th>图片</th>
                <td><input type="text" name="product_picture" class="form-control" id="price1" /></td>
            </tr>
            <tr>
                <th>商城价格</th>
                <td><input type="text" name="product_mallPrice" class="form-control" id="price2" /></td>
            </tr>
            <tr>
                <th>商品规格信息</th>
                <td><input type="text" name="product_specification" class="form-control" id="info" /></td>
            </tr>
            <tr>
                <th>图片</th>
                <td><input type="text" name="product_picture" class="form-control" id="picture" /></td>
            </tr>
            <tr>
                <th>商品详情</th>
                <td><input type="text" name="product_details" class="form-control" id="details" /></td>
            </tr>
            <tr>
                <th>服务类型</th>
                <td><input type="text" name="product_serviceType" class="form-control" id="kind" /></td>
            </tr>
            <tr>
                <th>活动状态</th>
                <td><input type="text" name="product_activity"  class="form-control" id="activity"></td>
            </tr>
            <tr>
                <td colspan="2">

                    <input type="button" value="添加"  class="btn btn-success" id="add" onclick="dd()"/>
                    <a th:href="@{/AdminProductController/adminProductList}"><input type="button" value="取消"  class="btn btn-info" id="cancel" style="background-color: orangered"/></a>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
</div>
<div class="secess"></div>
<script th:src="@{/js/commodity.js}"></script>
</body>
</html>