<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改商品信息</title>
    <link th:href="@{/css/adminEditProduct.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link rel="shortcut icon"  th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/release/wangEditor-fullscreen-plugin.css}">
    <!-- 编辑器编辑后，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库 -->
    <script type="text/javascript">
        function modifyContent() {
            var introduce = document.getElementById("introduce");
            introduce.value = editor.txt.html();
        }
    </script>
</head>
<body>
<div class="windoww">
    <div class="popup-windows">
        <h2 style="text-align: center">修改商品信息</h2>
        <form th:action="@{/AdminProductController/adminEditProduct(productId=${product.productId})}" method="post" th:object="${product}"  enctype="multipart/form-data" onsubmit="modifyContent()">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>库存</th>
                    <td><input type="text" name="product_inventory" class="form-control" th:value="*{product_inventory}"id="keywords" /></td>
                </tr>
                <tr>
                    <th>活动名称</th>
                    <td><input type="text" name="product_activity" class="form-control"th:value="*{product_activity}" id="condition" /></td>
                </tr>
                <tr>
                    <th>类别</th>
                    <td><input type="text" name="product_category" class="form-control"th:value="*{product_category}" id="price1" /></td>
                </tr>
                <tr>
                    <th>图片</th>
                    <td><input type="text" name="product_picture" class="form-control"th:value="*{product_counterPrice}" id="price2" /></td>
                </tr>
                <tr>
                    <th>是否可兑换</th>
                    <td>
                        <select name="product_isRedeemable" th:field="*{product_isRedeemable}">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                        <!--<input type="text" name="product_isRedeemable" class="form-control" id="info" />-->
                    </td>
                </tr>
                <tr>
                    <th>是否上架</th>
                    <td>
                        <select name="product_isShelf"  th:field="*{product_isShelf}">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                        <!--<input type="text" name="product_isShelf" class="form-control" id="picture" />-->
                    </td>
                </tr>
                <tr>
                    <th>是否热门</th>
                    <td>
                        <select name="product_isTop"  th:field="*{product_isTop}">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                        <!--<input type="text" name="product_isTop" class="form-control" id="details" />-->
                    </td>
                </tr>
                <tr>
                    <th>商城名称</th>
                    <td><input type="text" name="product_keywords" class="form-control"th:value="*{product_keywords}" id="kind" /></td>
                </tr>
                <tr>
                    <th>商城价</th>
                    <td><input type="text" name="product_mallPrice"  class="form-control"th:value="*{product_mallPrice}" id="activity"></td>
                </tr>
                <tr>
                    <th>需要积分</th>
                    <td><input type="text" name="product_needPoints"  class="form-control"th:value="*{product_needPoints}" id="activity"></td>
                </tr>
                <tr>
                    <th>得到积分</th>
                    <td><input type="text" name="product_getPoints"  class="form-control"th:value="*{product_getPoints}" id="activity"></td>
                </tr>
                <tr>
                    <th>服务类型</th>
                    <td><input type="text" name="product_serviceType"  class="form-control"th:value="*{product_serviceType}" id="activity"></td>
                </tr>
                <tr>
                    <th>商品规格</th>
                    <td><input type="text" name="product_specification"  class="form-control"th:value="*{product_specification}" id="activity"></td>
                </tr>
                <tr>
                    <th style="padding-top: 64px;">上传图片</th>
                    <td>
                        <!--<input type="submit" value="修改"  class="btn btn-info" id="change"/>-->
                        <!--<a th:href="@{/AdminProductController/adminProductList}"><input type="button" value="取消"  class="btn btn-info" id="cancel" style="background-color: orangered"/></a>-->
                        <input type="file" name="file" />
                        <input type="file" name="file" />
                        <input type="file" name="file" />
                        <input type="file" name="file" />
                        <input type="file" name="file" />
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <!-- 编辑器编辑，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库 -->
                <textarea rows="5" cols="35" name="product_details" style="display:none;" id="introduce"></textarea>
                <div id="editor">
                    <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
                </div>
                <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
                <script type="text/javascript" th:src="@{/release/wangEditor.min.js}"></script>
                <!-- 设置全屏功能的两个js文件，先引入jquery-3.2.1.min.js，在引入wangEditor-fullscreen-plugin.js -->
                <script type="text/javascript" th:src="@{/release/jquery-3.2.1.min.js}"></script>
                <script type="text/javascript" th:src="@{/release/wangEditor-fullscreen-plugin.js}"></script>
                <script type="text/javascript">
                    var E = window.wangEditor
                    var editor = new E('#editor')
                    /* 处理上传图片的controller路径 */
                    editor.customConfig.uploadImgServer = '/AdminProductController/upload'
                    /* 定义上传图片的默认名字 */
                    editor.customConfig.uploadFileName = 'myFileName'
                    // 或者 var editor = new E( document.getElementById('editor') )
                    editor.create()
                    //初始化全屏插件
                    E.fullscreen.init('#editor');
                </script>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="修改" class="btn btn-info" />
                    &nbsp; &nbsp; &nbsp;
                    <a th:href="@{/AdminProductController/adminProductList}">
                        <input type="button" value="取消"  class="btn btn-info" id="cancel" style="background-color: orangered"/>
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>


</body>
</html>