<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link th:href="@{/css/adminUserList.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon"  th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>
<body>
<div class="contentbox">
<div class="header">
    <form th:action="@{/AdminUserController/adminFindUser}" method="post">
        <input type="text" name="user_name" placeholder="用户名,邮箱，角色" th:value="*{user_name}" class="ipt">
        <input type="submit" value="搜索用户" class="btn">
        <div class="a-div adiv1 opcate">批量操作</div>
        <div class="a-div adiv1 del">删除</div>
        <input type="text" class="ids" style="display: none">
        <div type="button" onclick="block1()" class="a-div adiv1">添加</div>
    </form>
</div>
<div class="mytable">
<table class="table table-bordered able-box" id="mytable">
    <thead style="background-color: #F2F2F2;">
    <tr>
        <th class="shanchu">删除</th>
        <th>用户名</th>
        <th>角色</th>
        <th>电话</th>
        <th>密码</th>
        <th>邮箱</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td class="checx" style="position: relative">
            <label class="demo--label">
                <input class="demo--radio" type="checkbox" name="demo-checkbox1"  th:if="${user.user_role}=='超级管理员'" disabled>
                <input class="demo--radio" type="checkbox" name="demo-checkbox1"  th:unless="${user.user_role}=='超级管理员'">
                <span class="demo--checkbox demo--radioInput"></span>
            < /label>
        </td>
        <td th:text="${user.userId}" style="display: none" class="activityid"></td>
        <td th:text="${user.user_name}"></td>
        <td th:text="${user.user_role}"></td>
        <td th:text="${user.user_phone}"></td>
        <td th:text="${user.user_password}"></td>
        <td th:text="${user.user_mail}"></td>
        <td class="ttdd" >
            <a class="a-div adiv1" href="javascript:void(0);" th:if="${user.user_role != '超级管理员'}" th:onclick="'javascript:deleteUser('+${user.userId}+');'">删除</a>
            <a class="a-div adiv2" th:href="@{/AdminUserController/toAdminEditUser(userId=${user.userId})}">修改</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
    <div class="fenye" th:if="${TotalPages > 0}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/AdminUserController/adminUserList(page=1,user_name=${user_name})}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{/AdminUserController/adminUserList(page=${i},user_name=${user_name})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{/AdminUserController/adminUserList(page=${Number+1},user_name=${user_name})}">下一页</a></li><!--//请求页数+1-->
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{/OrderController/allProductOrdersLists(page=1,user_name=${user_name})}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{/OrderController/allProductOrdersLists(page=${Number-1},user_name=${user_name})}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{/OrderController/allProductOrdersLists(page=${i},user_name=${user_name})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{/OrderController/allProductOrdersLists(page=${Number+1},user_name=${user_name})}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{/OrderController/allProductOrdersLists(page=${TotalPages},user_name=${user_name})}">尾页</a></li><!--//跳转至第Number页-->
        </ul>

    </div>


<!--遮屏弹窗  修改内容-->
<div class="windoww">
    <div class="popup-windows">
        <h2 style="text-align: center">添加用户</h2>
        <form th:action="@{/AdminUserController/adminAddUser}">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>用户名</th>
                    <td><input type="text" name="user_name" class="form-control"  value="" id="username" required="required"/></td>
                </tr>
                <tr>
                    <th>角色</th>
                    <td>
                        <select name="user_role">
                            <option value="普通用户">普通用户</option>
                            <option value="管理员">管理员</option>
                            <option value="超级管理员">超级管理员</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>电话</th>
                    <td><input type="text" name="user_phone" class="form-control"  value="" id="userphone" required="required"/></td>
                </tr>
                <tr>
                    <th>密码</th>
                    <td><input type="text" name="user_password" class="form-control" value="" id="pwd" required="required"/></td>
                </tr>
                <tr>
                    <th>邮箱</th>
                    <td><input type="text" name="user_mail" class="form-control" value="" id="email" required="required"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="reset" value="重置" class="btn btn-primary" id="reset"/>
                        <input type="submit" value="添加"  class="btn btn-success" id="add"  onclick="dd()"/>
                        <!--<input type="button" value="修改"  class="btn btn-info" id="change"/>-->
                        <a th:href="@{/AdminUserController/adminUserList}"><input type="button" value="取消"  class="btn btn-info"  style="background-color: orangered"/></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</div>
<script th:src="@{/js/adminUserList.js}"></script>
</body>
</html>