<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link th:href="@{/css/adminOrderInfo.css}" rel="stylesheet" type="text/css" >
</head>
<body>
<div class="windoww">
    <div class="popup-windows">
        <h2 style="text-align: center">订单详情</h2>
        <form method="post" th:object="${order}">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>收货人姓名</th>
                    <td><input type="text" name="address_name" id="address_name" th:value="*{address_name}" class="form-control" /></td>
                </tr>
                <tr>
                    <th>订单号</th>
                    <td><input type="text" name="order_number" id="order_number" th:value="*{order_number}" class="form-control"/></td>
                </tr>
                <tr>
                    <th>商品图片</th>
                    <td><input type="text" name="product_picture" class="form-control" id="product_picture" th:value="*{product_picture}"/></td>
                </tr>
                <tr>
                <th>商品关键字</th>
                <td><input type="text" name="product_keywords" class="form-control"th:value="*{product_keywords}" id="product_keywords" /></td>
                </tr>
                <tr>
                    <th>收货人电话</th>
                    <td><input type="text" name="address_phone" class="form-control"th:value="*{address_phone}" id="address_phone" /></td>
                </tr>
                <tr>
                    <th>收货地址</th>
                    <td><input type="text" name="address_shipping" class="form-control"th:value="*{address_shipping}" id="address_shipping" /></td>
                </tr>
                <tr>
                    <th>商品id</th>
                    <td><input type="text" name="productId" class="form-control" th:value="*{productId}" id="productId" /></td>
                </tr>
                <tr>
                    <th>用户id</th>
                    <td><input type="text" name="userId" class="form-control" th:value="*{userId}" id="userId" /></td>
                </tr>

                <tr>
                    <th>实付金额</th>
                    <td><input type="text" name="product_PaidPrice" class="form-control"th:value="*{product_PaidPrice}" id="product_PaidPrice" /></td>
                </tr>
                <tr>
                    <th>商城价格</th>
                    <td><input type="text" name="product_mallPrice" class="form-control"th:value="*{product_mallPrice}" id="product_mallPrice" /></td>
                </tr>
                <tr>
                    <th>商品规格信息</th>
                    <td><input type="text" name="product_specification" class="form-control"th:value="*{product_specification}" id="product_specification" /></td>
                </tr>
                <tr>
                    <th>运费</th>
                    <td><input type="text" name="order_freight" class="form-control"th:value="*{order_freight}" id="order_freight" /></td>
                </tr>
                <tr>
                    <th>折扣</th>
                    <td><input type="text" name="order_discount" class="form-control"th:value="*{order_discount}" id="order_discount" /></td>
                </tr>
                <tr>
                    <th>是否可用积分兑换</th>
                    <td>
                        <input type="text" class="form-control" name="product_isRedeemable"  id="product_isRedeemable" th:value="*{product_isRedeemable}" placeholder="product_isRedeemable"/>
                        <!--<input type="text" name="product_isRedeemable" class="form-control" id="info" />-->
                    </td>
                </tr>
                <tr>
                    <th>兑换所需积分</th>
                    <td><input type="text" name="product_needPoints" class="form-control" th:value="*{product_needPoints}" id="product_needPoints" /></td>
                </tr>
                <tr>
                    <th>订单快递号</th>
                    <td><input type="text" name="order_expressNumber" class="form-control" th:value="*{order_expressNumber}" id="order_expressNumber" /></td>
                </tr>
                <tr>
                    <th>订单状态</th>
                    <td><input type="text" name="order_status" class="form-control" th:value="*{order_status}" id="order_status" /></td>
                </tr>
                <tr>
                    <th>发货地址</th>
                    <td><input type="text" name="order_deliveryAddress" class="form-control" th:value="*{order_deliveryAddress}" id="order_deliveryAddress" /></td>
                </tr>
                <tr>
                    <th>下单时间</th>
                    <td><input type="text" name="order_purchaseTime" class="form-control" th:value="*{order_purchaseTime}" id="order_purchaseTime" /></td>
                </tr>
                <tr>
                    <th>发货时间</th>
                    <td><input type="text" name="order_deliveryTime" class="form-control" th:value="*{order_deliveryTime}" id="order_deliveryTime" /></td>
                </tr>
                <tr>
                    <th>成交时间</th>
                    <td><input type="text" name="order_dealTime" class="form-control" th:value="*{order_dealTime}" id="order_dealTime" /></td>
                </tr>
                <tr>
                    <th>购买方式</th>
                    <td><input type="text" name="order_methodOfPurchase" class="form-control"th:value="*{order_methodOfPurchase}" id="order_methodOfPurchase" /></td>
                </tr>
                <tr>
                    <th>购买数量</th>
                    <td><input type="text" name="order_quantity" class="form-control"th:value="*{order_quantity}" id="order_quantity" /></td>
                </tr>
                <tr>
                    <th>用户名</th>
                    <td><input type="text" name="user_name" class="form-control" th:value="*{user_name}" id="user_name" /></td>
                </tr>
            </table>
            <div class="form-group">
                <a th:href="@{/OrderController/allProductOrdersLists}" class="btn btn-info">Back</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>