<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="Shortcut Icon" th:href="@{/images/logo.icon}">
	<link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
	<title>敏感词汇</title>
	<script th:src="@{/js/jquery.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/productSensitive.css}">
	<script type="text/javascript" th:src="@{/js/productSensitive.js}"></script>
</head>
<body>
<div class="contentbox">
<div class="header1">
	<form th:action="@{/SearchShieldController/findProductSensitive}" method="post">
		<input type="text" name="search_keywords" placeholder="敏感词" th:value="*{search_keywords}" class="ipt">
		<input type="submit" value="搜索" class="btn">
	</form>
</div>
<div th:class="mytable">
	<div class="aa">
        <div class="aa-one" th:each="search : ${searchShields}">
            <form th:action="@{/SearchShieldController/deleteProductSensitive}">
                <input type="hidden" th:value="${search.searchShieldId}" th:name="searchShieldId" th:class="ipt2">
                <input type="submit" th:value="${search.searchShield_Sensitive}" class="delete"th:class="ipt2">
			</form>
        </div>
    </div>
	<div class="add">+</div>
	<div class="black">
		<div class="black-input">
			<form th:action="@{/SearchShieldController/addProductSensitive}">
				<button type="button" class="close" aria-hidden="true" style="margin: 10px;">&times;</button>
				<!--<input class="bb" name="searchShield_Sensitive" onkeyup="this.value=this.value.replace(/[^\u4E00-\u9FA5]/g,'')" th:class="ipt2">-->
				<input class="bb" name="searchShield_Sensitive" onkeyup="this.value=this.value.replace(/[^\u4e00-\u9fa5a-zA-Z]+$/g,'')" th:class="ipt2" style="margin-left: 75px;">
				<button class="ad">添加</button>
			</form>
		</div>
	</div>
</div>
	<div class="fenye" th:if="${TotalPages > 0}">

		<ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
			<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
			<li><a th:href="@{/SearchShieldController/toProductSensitive(page=1)}">首页</a></li>
			<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
				<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
				<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
				<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
				<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
				   th:href="@{/AdminProductController/productCategoryList(page=${i})}" th:text="${i}"
				   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
			</li>
			<li><a th:href="@{/SearchShieldController/toProductSensitive(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
		</ul>

		<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
			<li><a th:href="@{/SearchShieldController/toProductSensitive(page=1)}">首页</a></li><!--//跳转至第一页-->
			<li><a th:href="@{/SearchShieldController/toProductSensitive(page=${Number-1})}">上一页</a></li><!--//请求页数-1-->
			<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
				<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
				<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
				<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
				<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
				   th:href="@{/SearchShieldController/toProductSensitive(page=${i})}" th:text="${i}"
				   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
			</li>
			<li th:if="${Number != TotalPages}">
				<a th:href="@{/SearchShieldController/toProductSensitive(page=${Number+1})}">下一页</a>
			</li><!--//请求页数+1-->
			<li>
				<a th:href="@{/SearchShieldController/toProductSensitive(page=${Number})}">尾页</a>
			</li><!--//跳转至第Number页-->
		</ul>

	</div>
</div>
</body>
</html>