<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="Shortcut Icon" th:href="@{/images/logo.icon}">
	<link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
	<title>分类管理</title>
	<script th:src="@{/js/jquery.js}"></script>
	<link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/productCategorylists.css}">
	<script type="text/javascript" th:src="@{/js/productCategorylists.js}"></script>
</head>
<body>
	<table class="table table-bordered able-box" id="mytable">
	    <thead style="background-color: #F2F2F2;">
	    <tr>
	        <th>名称</th>
	        <th>上一级</th>
	        <!--<th>id</th>-->
	        <th></th>
	    </tr>
	    </thead>
	    <tbody>
			<tr th:each="Categorie : ${productCategories}">
				<td th:text="${Categorie.category_name}">John</td>
				<td th:if="${!Categorie.parent_name.equals('0')}" th:text="${Categorie.parent_name}">Doe</td>
                <td th:if="${Categorie.parent_name.equals('0')}">一级分类</td>
				<!--<td th:text="${Categorie.categoryId}"></td>-->
				<td class="ttdd">
					<!--<button type="button" class="btn btn-primary" style="background-color: #fff;color: #000;">添加</button>-->
					<a class="aa1" th:href="@{/AdminProductController/deleteProductCategory(categoryId=${Categorie.categoryId})}">删除</a>
					<button type="button" th:if="${!Categorie.parent_name.equals('0')}" class="btn btn-primary modifi" style="background-color:#007BFF" >
						<a th:href="@{/AdminProductController/toAdminEditProductCategory(categoryId=${Categorie.categoryId})}">修改</a>
					</button>
				</td>
			</tr>
	    </tbody>
	</table>
    <button type="button" class="btn btn-primary add" style="background-color: green;color: #fff;float: right;">
        <a th:href="@{/AdminProductController/toAddProductCategory}">添加二级分类</a>
    </button>
	<button type="button" class="btn btn-primary add" style="background-color: green;color: #fff;float: right;">
        <a th:href="@{/AdminProductController/toAddProductOneCategory}">添加一级分类</a>
    </button>
    <div class="fenye" th:if="${TotalPages > 0}">

        <ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/AdminProductController/productCategoryList(page=1)}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{/AdminProductController/productCategoryList(page=${i})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{/AdminProductController/productCategoryList(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${Number > 1}"><!--//显示上一页-->
            <li><a th:href="@{/AdminProductController/productCategoryList(page=1)}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{/AdminProductController/productCategoryList(page=${Number-1})}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{/AdminProductController/productCategoryList(page=${i})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{/AdminProductController/productCategoryList(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{/AdminProductController/productCategoryList(page=${Number})}">尾页</a></li><!--//跳转至第Number页-->
        </ul>

    </div>
</body>