.contentbox{
    padding: 20px;
    min-width: 800px;
}
.ipt{
    width: 240px;
    display: inline-block;
    height: 30px;
    outline: none;
    padding-left: 10px;
}
.btn{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.7;
}
.btn:hover{
    opacity: 1;
}
table{
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}
tr{
    height: 35px;
    line-height: 35px;
}
th{
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-right: 1px solid #e6e6e6;
}
td{
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    overflow: hidden;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    text-align: center;
}
tr:hover{
    background-color: #F2F2F2;
}
a{

    text-decoration: none;
}
.a-div{
    color: #fff;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
}
.adiv1{
    width: 54px;
    background-color: #FF5722;
}
.adiv2{
    background-color: #009688;
    width: 54px;
}
li{
    list-style-type: none;
    display: inline-block;
}
li>a {
    color: #333333;
    display: inline-block;
    width: 50px;
    height: 50px;
}
img{
    width: 50px;
    height: 50px;
}