*{
    padding: 0px;
    margin: 0px;
}
.contenter{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.header{
    width: 1200px;
    margin:0 auto;
    height: 88px;
    padding: 10px;
    float: left;
    border-bottom: 1px solid #999;
}
img.xflogo{
    width: 220px;
    height: 72px;
    float: left;
    margin-right: 50px;

}
.register{
    display: inline;
    margin-left: 123px;
    height: 88px;
    line-height: 88px;
    padding: 30px 100px;
    text-align: center;
    font-size: 30px;
    font-family: "楷体";
    font-weight: 700;
    letter-spacing: 5px;
    color: #9696A3;
}
.yanzheng{
    width: 1160px;
    background-color: #68E868;
    padding: 20px;
    height: 100px;
    margin-top: 110px;

}
img{
    width:54px;
    height: 54px;
    border-radius: 100%;
    vertical-align: bottom;
}
.wenzi{
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
}
a{

    color: #fff;
}