*{
    padding: 0px;
    margin: 0px;
}
.contenter{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.header{
    width: 1200px;
    margin:0 auto;
    height: 88px;
    padding: 10px;
    float: left;
    border-bottom: 1px solid #999;
}
img.xflogo{
    width: 220px;
    height: 72px;
    float: left;
    margin-right: 50px;

}
.register{
    display: inline;
    margin-left: 123px;
    height: 88px;
    line-height: 88px;
    padding: 30px 100px;
    text-align: center;
    font-size: 30px;
    font-family: "楷体";
    font-weight: 700;
    letter-spacing: 5px;
    color: #9696A3;
}
.yanzheng{
    width: 450px;
    background-color: #68E868;
    padding: 30px 20px;
    margin-top: 200px;
    margin-left: 365px;
    border-radius: 5px;
}
.formkuang{
    width: 400px;
    margin: 0 auto;
    position: absolute;
}
form{
    margin: 0 auto;
    width: 250px;

}
.verification-code{
    height: 32px;
}
input{
    padding: 5px;
    outline: none;
    border: 0;
    border-radius: 5px;
}
.list{
    margin-top: 20px;

}
.affirm{
    display: block;
    background-color: red;
    width: 100px;
    color: #fff;
    height:30px;
    text-align: center;

    opacity: 0.8;
    border-radius: 5px;
    letter-spacing: 10px;
    outline: none;
    border: 0;
}
.affirm:hover{opacity: 1;cursor: pointer;}
font{
    color: red;
    font-size: 12px;
    height: 20px;
    display: block;
}