body{
		margin: 0;
		min-width: 1200px;
		font-family:"微软雅黑";
}
.side-bar{
		width: 30px;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color:#000;
		color: white;
		z-index: 5;
}
.side-bar-1,.side-bar-2,.side-bar-3,.side-bar-4,.side-bar-5,.side-bar-6{
		width: 20px;
		height: 25px;
		padding: 5px;
		color: white;
		text-align: center;
		background-color: black;
		line-height: 25px;
		margin-top: 12px;
		position: relative;
}
.side-bar-2{
		margin-top: 200%;
}
.side-bar-3{
		height: 83px;
		line-height: 20px;
		cursor:default;
}
.side-bar-3>span{
		font-size: 12px;
}
.side-bar-4{
		position: absolute;
		bottom: 0;
}
.side-bar-5{
		position: absolute;
		bottom: 50px;
}
.side-bar-6{
		position: absolute;
		bottom: 100px;
}
.border{
		width: 16px;
		height: 2px;
		margin: 0 auto;
		background-color: #494949;
		margin-top: 12px;
}
.side-bar-1:hover,.side-bar-2:hover,.side-bar-3:hover,.side-bar-4:hover,.side-bar-5:hover,.side-bar-6:hover{
		background-color:skyblue;
}
.side-bar-1-hidden,.side-bar-2-hidden{
		width: 100px;
		height: 35px;
		position: absolute;
		left: -160px;
		background-color: #494949;
		top: 0;
		transition: 0.5s;
		opacity: 0;
		font-size: 15px;
		line-height: 35px;
		text-align: center;
		color: white;
}
.side-bar-2-hidden{
		top: 30px;
}
.side-bar-3-hidden{
		width: 114px;
		height: 114px;
		position: absolute;
		left: -160px;
		top: -45px;
		transition: 0.5s;
		opacity: 0;
		border: solid 8px skyblue;
}
.side-bar-3-hidden>img{
		width: 100%;
		height: 100%;
}
.side-bar-1-hidden:after,.side-bar-2-hidden:after{
		content: "";
		position: absolute;
    	bottom: 20%; 
    	left: 100%;
    	margin-left: -1px;
    	border-width: 8px;
    	border-style: solid;
    	border-color: transparent transparent transparent #494949;
}
.side-bar-1:hover .side-bar-1-hidden,.side-bar-2:hover .side-bar-1-hidden{
		left: -100px;
		opacity: 1;
}
.side-bar-3:hover .side-bar-2-hidden{
		left: -100px;
		opacity: 1;
}
.side-bar-4:hover .side-bar-1-hidden{
		left: -100px;
		opacity: 1;
}
.side-bar-5:hover .side-bar-3-hidden{
		left: -130px;
		opacity: 1;
}
.side-bar-6:hover .side-bar-1-hidden{
		left: -100px;
		opacity: 1;
}
.title{
	width: 1100px;
	height: 80px;
	padding: 20px;
	margin: 0 auto;
}
.ipt{
	width: 500px;
	height: 57px;
	padding: 23px;
	padding-bottom: 0;
	float: left;
	margin-left: 80px;
}
.ipt-1{
	width: 400px;
	height: 28px;
	padding: 0 0 0 10px;
	border: solid 3px #CC0510;
}
.ipt-2{
	width: 90px;
	height: 34px;
	position: absolute;
    right: 0;
    top:0;
	background-color: #CC0510;
	line-height: 32px;
	cursor:pointer;
	text-align: center;
    border: 0;
	letter-spacing: 10px;
	color: white;
}
.ipt-3{
	width: 500px;
	height: 23px;
	margin: 0;
	padding-left: 0;
}
.ipt-3>li{
	float: left;
	margin: 0 12px;
	margin-top: 5px;
	list-style-type: none;
	font-size: 13px;
}
.ipt-3>li>a{
	color:#CC0510 ;
	text-decoration: none;
	letter-spacing: 2px;
}
.ipt-3>li>a:hover{
	color:#336699;
}
.classify{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
.classify-left{
	width: 200px;
	height: 400px;
	float: left;
	background-color:#F2F2F2;
}
.classify-right{
	width: 1000px;
	height: 400px;
	float: left;
	overflow: hidden;
	position: relative;
}
.classify-right-long{
	width:5000px;
	height: 400px;
	transition: 1.3s;
	position: absolute;
	top: 0;
	left: 0;
}
.classify-left-top{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	cursor:pointer;
	letter-spacing: 10px;
	background-color: burlywood;
	color: white;
}
.classify-left-bottom{
	width: 200px;
	height: 360px;
}
.classify-left-bottom-ul{
	width: 200px;
	height: 360px;
	margin: 0;
	padding-left: 0;
}
.classify-left-bottom-ul>li{
	width: 170px;
	height: 52px;
	padding: 10px 10px 10px 20px;
    background-color: oldlace;
	list-style-type: none;
	font-size: 16px;
	line-height: 26px;
}
.classify-left-bottom-ul>li>a{
    position: relative;
    left: -20px;
    color: chocolate;
    text-decoration: none;
    transition: 0.4s;
}
.classify-left-bottom-ul>li>span{
	font-size: 12px;
    text-align: center;
    position: relative;
    color: chocolate;
}
.classify-left-bottom-ul>li>img{
    width: 20px;
    position: relative;
    top: 0;
    left: 80px;
    transition: 0.4s;
    opacity: 0;
}
.classify-left-bottom-ul>li:hover{
	background-color:antiquewhite;
}
.classify-left-bottom-ul>li:hover .donghua{
    position: relative;
    left: 130px;
    opacity: 1;
}
.classify-left-bottom-ul>li:hover .a{
    position: relative;
    left: 0;
}
.classify-left-bottom-ul>li:hover .classify-list{
    display: block;
}
.classify-list-foot-text{
	width: 119px;
	height: 45px;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
    overflow: hidden;
}
.classify-list-foot-span{
    width: 119px;
    height: 35px;
    text-align: center;
	color: red;
	font-size: 17px;
}
.classify-list{
	width: 700px;
	height: 400px;
	position: absolute;
	left: 200px;
	top: 0;
	z-index: 10;
    display: none;
    background-color: white;
    overflow: hidden;
}
.right{
	float: right;
}
.classify-list-top{
    width: 600px;
    height: 60px;
    padding: 0 50px;
    line-height: 60px;
    text-align: left;
    font-size: 26px;
    border-bottom: solid 1px lightgray;
    background-color: white;
    color: burlywood;
}
.classify-list-body{
	width: 600px;
	height: 120px;
	padding:0 30px;
	line-height: 60px;
}
.classify-list-body>a{
    margin: 7px;
    padding: 8px;
    height: 30px;
    font-size: 18px;
    color: coral;
    float: left;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}
.classify-list-body>a:hover{
    color: gray;
}
.classify-list-foot{
	width: 700px;
	height: 220px;
	position: relative;
}
.classify-list-foot-div{
	width: 120px;
	height: 200px;
	padding: 10px;
	float: left;
}
.classify-fiexd{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    display: inline;
}
.classify-fiexd>a{
    color: burlywood;
    text-decoration: none;
}
.classify-list-foot-div>img{
	width:120px;
    height: 120px;
}
.lunbo{
    width: 1000px;
    height: 400px;
	float: left;
}
.recommend{
    width: 1180px;
    height: 70px;
    margin: 0 auto 20px auto;
    line-height: 70px;
    font-size: 30px;
    letter-spacing: 20px;
    /*margin-bottom: 20px;*/
    padding-left: 20px;
    color: #F80533;
    font-weight: bold;
    font-family: "仿宋";
    border-bottom: solid 1px #f80533;
}
.today{
	width: 1220px;
	height: 600px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.block-1{
	width: 218px;
	height: 578px;
	margin: 10px;
	float: left;
	border: solid 1px #D0D0D0;
	background-color: white;
}
.block-2{
	width: 198px;
	height: 258px;
	margin: 10px;
	padding: 10px;
	border: solid 1px #D0D0D0;
	float: left;
	position: relative;
	background-color: white;
}
.block-1:hover,.block-2:hover{
    border: solid 1px deeppink;
}
.block-2-div{
	width: 198px;
	height: 80px;
	font-size: 12px;
}
.block-2-text{
	cursor:pointer;
}
.money{
	font-size: 17px;
	color: red;
	cursor:pointer;
}
.old-money{
	font-size: 12px;
	color:#7E7E7E;
	cursor:pointer;
}
.block-2-div-foot{
	width: 100%;
	height: 15px;
	color: #7E7E7E;
	cursor:pointer;
	border-top: solid 1px #7E7E7E;
}
.time{
	width: 1200px;
	height: 250px;
	margin: 0 auto;
	position: relative;
}
.count-down{
	width: 180px;
	height: 230px;
	padding: 10px;
	background-color: antiquewhite;
	float: left;
    border-radius: 8px;
}
.count-down-text{
	text-align: center;
	letter-spacing: 15px;
	font-size: 27px;
    color: chocolate;
	line-height: 45px;
    font-family: "楷体";
}
.count-down-english{
	font-size: 20px;
	letter-spacing: 0;
    color: chocolate;
}
.count-down-text-little{
	font-size: 15px;
	letter-spacing: 0;
    color: chocolate;
}
.count-down-p{
	font-size: 15px;
	letter-spacing: 0;
	margin: 0;
}
.time1,.time2,.time3{
    width: 30px;
    height: 30px;
    background-color: ghostwhite;
    float: left;
    display: inline;
    margin: 5px 15px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 7px;
    color: chocolate;
    letter-spacing: 0;
}
.all-rob{
	width: 1000px;
	height: 250px;
	float: left;
	position: relative;
	overflow: hidden;
}
.all-rob-long{
	width: auto;
	height: 250px;
	position: absolute;
	transition: 1s;
	left: 0;
}
.little-books{
    width: 100%;
    height: 25%;
    position: relative;
}
.little-books>div{
    width: 50%;
    height: 33%;
    float: left;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}
.little-books>div>a{
    color: firebrick;
    text-decoration: none;
}
.all-rob-long>img{
    width: 100%;
    height: 170px;
}
.all-rob-long>div{
	width: 170px;
	height: 230px;
	padding: 10px;
	font-size: 12px;
	margin: 0 5px;
	background-color: white;
	float: left;
}
.all-rob-long>div>p{
	margin: 0;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
}
.all-money{
	width: 140px;
	height: 18px;
	margin: 0 auto;
	border: solid 1px antiquewhite;
}
.money-left,.money-right{
	width: 70px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	float: left;
}
.money-left{
    margin-left: -2px;
	background-color: antiquewhite;
}
.button-last{
	width: 10px;
	height: 50px;
	background-color:#E1E1E1;
	position: absolute;
	left: 0;
	top: 100px;
	line-height: 50px;
	border-radius: 2px;
	z-index: 4;
	color: #6A6A6A;
	cursor:pointer;
}
.button-next{
	width: 10px;
	height: 50px;
	background-color:#E1E1E1;
	position: absolute;
	right: 0;
	top: 100px;
	line-height: 50px;
	border-radius: 2px;
	z-index: 4;
	cursor:pointer;
	color: #6A6A6A;
}
.hint{
	width: 410px;
	height: auto;
	display: none;
	border:  1px solid gray;
    z-index:15;
    position: absolute;
    top: 34px;
    background-color: white;
}
.hint>div{
	width: 95%;
	height: 30px;
	line-height: 30px;
	text-align: left;
    padding-left: 5%;
    color: red;
    cursor: pointer;
}
.hint>div:hover{
	background-color: gainsboro;
}
.last{
    width: 120px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
.last:hover{
    background: linear-gradient(to left,rgba(0,0,0,0),#000000);
    opacity: 0.7;
}
.next{
    width: 120px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
}
.next:hover{
    background: linear-gradient(to right,rgba(0,0,0,0),#000000);
    opacity: 0.7;
}
.next_1,.last_1{
    width: 30px;
    height: 50px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -15px;
    display: none;
    color: white;
}
.last:hover .last_1{
    display: block;
}
.next:hover .next_1{
    display: block;
}
.page{
    width: 180px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
}
.page>div{
    width: 31px;
    height: 8px;
    float: left;
    background-color: white;
    margin: 6px 7px;
    opacity: 0.7;
    border-radius: 2px;
}
.productId,.shoppingCount{
	display: none;
}