*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
}
body{
    background: #F5F5F5;
}
.top{
    width: 100%;
    margin: 0 auto;
    height: 30px;
    background-color: #F2F2F2;
}
.top-left{
    margin-left: 30px;
}
.top-right{
    margin-right: 50px;
}
.top-left>ul{
    float: left;
    margin: 0;
}
.top-right>ul{
    float: right;
    margin: 0;
}
.top-left>ul>li,.top-right>ul>li{
    float: left;
    list-style-type: none;
    font-size: 12px;
    line-height: 30px;
    margin: 0 12px;
}
.top-left>ul>li>a,.top-right>ul>li>a{
    height: 100%;
    text-decoration: none;
    color: #838383;
}
.top-left>ul>li>a:hover,.top-right>ul>li>a:hover{
    color: #336699;
}
.top-left>ul>li>a>span,.top-right>ul>li>a>span{
    color: #336699;
}
.nav1{
    width: 100%;
    height: 54px;
    margin: 0 auto;
    background-color: #FF4400;
}
.navheader{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    height: 54px;
    line-height: 54px;
    font-size: 20px;
}
.navheader>img{
    height: 50px;
}
.site-header{
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    color: #757575;
    padding: 10px;
}
.contain{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}
.span4{
    width: 230px;
    height: 500px;
    margin-left: 20px;
    background: #fff;
    float: left;
    padding: 20px;
}
.span16{
    width: 930px;
    margin-left: 20px;
    background: #fff;
    float: left;
}
.span4-box{
    padding: 36px 0;
}
.ul-box{
    margin-bottom: 12px;
}
.box-hd{
    height: 54px;
}
.box-hd>ul>li{
    list-style-type: none;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 10px 80px;
}
.box-hd>ul>li>a{
    color: #757575;
    text-decoration: none;
    font-size: 16px;
}
.box-hd>ul>li>a:hover{
    color: #000;
}
.h33{
    font-size: 20px;
    margin-left: 65px;
    margin-bottom: 15px;
}
.annotation{
    /*width: 1065px;*/
    height: 35px;
    margin: 8px auto;
}
.annotation>div{
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    float: left;
    text-align: center;
    margin-left: 74px;
}
.single{
    padding: 20px;
    background-color: #FFFAF7;
    border: solid 1px #ff6700;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.one{
    width: 200px;
    height: 110px;
    margin: 10px;
    /*background-color: red;*/
    float: left;
}
.two{
    width: 136px;
    height: 110px;
    float: left;
    /*background-color: red;*/
    margin: 10px;
    text-align: center;
    padding-top: 45px;
}
.two>a:hover{
    text-decoration: none;
}
.aa1{
    display: block;
    position: absolute;
    margin-left: 117px;
    margin-top: -100px;
    width: 90px;
    color: #999;
    text-decoration: none;
    height: 100px;
    overflow: hidden;
}
.gray_all{
    width: 1000px;
    height: 225px;
    margin: 0 auto;
    margin-left: 330px;
}
.gray_all>div{
    width: 200px;
    height: 225px;
    float: left;
}
.gray_text1{
    margin-top: 40px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #B1B1B1;
}
.color{
    line-height: 15px;
    margin-left: -15px;
    padding-left: 15px;
    margin-bottom: 10px;
    color:gray;
    border-left: 4px solid #F66181;
}
.foots{
    width: 100%;
    height: auto;
    background-color: black;
}
.foots_all{
    width: 1200px;
    height: 190px;
    margin: 0 auto;
    position: relative;
}
.free_1{
    color: green;
}
.foots_text1{
    width: 850px;
    height: 70px;
    position: absolute;
    left: 150px;
    top: 25px;
    font-size: 12px;
    color: #B1B1B1;
    cursor: pointer;
}
.foots_text2{
    position: absolute;
    left: 70px;
    top: 90px;
    font-size: 12px;
    color: #3F3F3F;
    cursor: pointer;
}
.foots_text3{
    width: 1000px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 90px;
    font-size: 12px;
    line-height: 20px;
    color: #3F3F3F;
}
.foots_text3>a{
    color: #3F3F3F;
    text-decoration: none;
    cursor: pointer;
}
.foots_text3>a:hover{
    color: #B1B1B1;
}
.btn-default{
    float: right;
    margin: 15px 35px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /* padding: 10px; */
    margin: 20px;
}
/*.multibox{
    width: 840px;
    margin: 0 auto;
    overflow: hidden;
}

.multi{
    height: auto;
    width: 400px;
    overflow: hidden;
    float: left;
}

.single1{
    width: 100%;
    float: left;
}

.multi-right{
    width: 400px;
    height: auto;
    overflow: hidden;
    float: left;
}
*/
.order-list-box{
    margin-bottom: 20px;
    border: 1px solid #ff6700;
    margin: 20px;
    position: relative;
}
.detail-header{
    width: 100%;
    background-color: #FFFAF7;
}
h1{
    font-size: 25px;
    color: #FF6900;
    margin-top: 0;
    padding: 20px;
    margin-bottom: -12px;
    display: inline-block;
}
.info{
    padding: 20px;

}
.span1{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #757575;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.span1>a{
    font-size: 16px;
     color: #757575;
    font-weight: 400;
    text-align: left;
}
.span1>a:hover{
    text-decoration: none;
}
.productdet{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.product{
    width: 400px;
    height: auto;
    padding: 20px;
}
.opcate{
    width: 400px;
    height: auto;
    padding: 20px;
    position: absolute;
    left: 412px;
    top: 117px;
}
.img2{
    width: 100px;
    height: 100px;
}
.span2{
    width: 200px;
    height: 50px;
    overflow: hidden;
    display: inline-block;

}
.btn{
    padding: 6px 20px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    border:1px solid #fff;
    margin: 10px;
    /*width: 145px;*/
    opacity: 0.7;
}
.btn:hover{
    opacity: 1;
}
.btn2{
    background:#fff;
    color:#757575;
    border:1px solid #b0b0b0;
}
.btn2:hover{
    background-color: #757575;
    color: #fff;
}
.rightopcate{
    margin-left: 225px;
}
.aaa{
    color: red;
    font-size: 15px;
    text-decoration: none;
}
.aaa:hover{
    text-decoration: none;
    color: red;
}
.btn3{
    padding: 6px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    border:1px solid #fff;
    opacity: 0.7;
    margin-left: 20px;
    color: #fff;
    background: orangered;
    border-radius: 5px;
    font-size: 12px;
}
.btn3:hover{
    opacity: 1;
    text-decoration: none;
    color: #fff;
}