html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.contentbox{
	padding: 20px;
	min-width: 800px;
}
.ipt{
	width: 240px;
	display: inline-block;
	height: 30px;
	outline: none;
	padding-left: 10px;
}
.btn{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	padding: 0 18px;
	background-color: #009688;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	opacity: 0.7;
}
.btn:hover{
	opacity: 1;
}
.header1{
	padding: 0 20px;
}
.a1{
	color: #fff;
	opacity: 0.7;
	background-color: red;
	border: 0;
	width: 68px;
	height: 25px;
	border-radius: 8px;
}
.a1:hover{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
}
.search{
	display: inline-block;
	width: 54px;
	height: 24px;
	background-color: red;
	border-radius: 10px;
	text-align: center;
	padding-top: 2px;
	vertical-align: middle;
	opacity: 0.7;
}
.search:hover{
	opacity: 1;
}
.h1-sty{
	margin-bottom: 30px;
}
.ipt{
	outline: none;
}
.mytable{
	padding: 0 20px;
	margin-top: 10px;
}
.a2{
	background-color: red;
	color: #fff;
	border-radius: 5px;
	width: 54px;
	height: 34px;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	opacity: 0.7;
}
.a2:hover{
	color: #fff;
	text-decoration: none;
}
.aa{
    width: 96%;
    height: 100%;
    position: relative;
}
.aa-one{
    width: auto;
    height: auto;
    display: inline-block;
}
.delete{
    margin: 15px;
}
.add{
	width:30px;
	height:30px;
	border-radius: 5px;
	margin:10px;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font-weight: bold;
	background-color:#E3DC89;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	font-family: "微软雅黑";
}
.black{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(56,66,66,0.5);
	display: none;
}
.black-input{
	width: 300px;
	height: 140px;
	border-radius: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -70px;
	margin-left: -150px;
	background-color:RGB(231,231,231);
}
.ipt2{
	width: 150px;
	height: 30px;
	margin: 20px auto;
	border-radius: 10px;
	display: block;
	margin-right: 75px;
	padding: 0;
	padding-left: 5px;
	border: 0;
}
.ad{
	width: 150px;
	height: 30px;
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	border: 0;
}
.header{
	margin: 0 auto;
	width: 96%;
}