body{
		margin: 0;
		min-width: 1200px;
		font-family:"微软雅黑";
}
.top{
		width: 100%;
		height: 25px;
		background-color: #F2F2F2;
}
.top-left{
		margin-left: 30px;
}
.top-right{
		margin-right: 50px;
}
.top-left>ul{
		float: left;
		margin: 0;
}
.top-right>ul{
		float: right;
		margin: 0;
}
.top-left>ul>li,.top-right>ul>li{
		float: left;
		list-style-type: none;
		font-size: 12px;
		line-height: 25px;
		margin: 0 12px;
}
.top-left>ul>li>a,.top-right>ul>li>a{
		height: 100%;
		text-decoration: none;
		color: #838383;
}
.top-left>ul>li>a:hover,.top-right>ul>li>a:hover{
		color: #336699;
}
.top-left>ul>li>a>span,.top-right>ul>li>a>span{
		color: #336699;
}
.title{
	width: 1000px;
	height: 80px;
	padding: 20px;
	margin: 0 auto;
}
.title>img{
	width: 300px;
}
.ipt{
	width: 500px;
	height: 57px;
	padding: 23px;
	padding-bottom: 0;
	float: right;
	margin-left: 80px;
}
.ipt-1{
	width: 400px;
	height: 28px;
    text-align: left!important;
	padding: 0 0 0 10px;
	border: solid 3px #CC0510;
}
.ipt-2{
	width: 84px;
	height: 34px;
	float: right;
	background-color: #CC0510;
	line-height: 34px;
	cursor:pointer;
	text-align: center;
	letter-spacing: 10px;
	color: white;
}
.all{
	width: 1000px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	color: gray;
	border-bottom: solid 2px gray;
	position: relative;
}
.right{
	position: absolute;
	right: 0;
	top: 0;
}
.annotation{
	width: 1000px;
	height: 35px;
	margin: 8px auto;
}
.annotation>div{
	width: 125px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	float: left;
	text-align: center;
}
.single{
	width: 960px;
	height: 90px;
	padding: 20px;
	background-color: #FCFCFC;
	border: solid 1px gray;
	margin: 0 auto;
	margin-top: 10px;
}
.single-introduce{
	width: 250px;
	height: 90px;
	float: left;
	color: gray;
	font-size: 12px;
}
.norms{
	width: 125px;
	height: 90px;
	float: left;
	color: gray;
	font-size: 12px;
	margin-left: 50px;
}
.single-text,.single-text-a{
	width: 125px;
	height: 90px;
	float: right;
	text-align: right;
	font-size: 13px;
}
.single-text>a,.single-text-a>a{
	color: gray;
	font-size: 12px;
	text-decoration: none;
}
.single-text-a>a:hover{
	color: #CC0510;
}
.qwe{
	color: gray!important;
	cursor: pointer!important;
}
.qwe:hover{
	color: #CC0510!important;
}
.subtract,.add{
	width: 25px;
	height: 21px;
	background-color: #E1E1E1;
	display: inline-block;
	text-align: center;
	line-height: 21px;
	position: relative;
	top: -1px;
	cursor:pointer;
}
.number{
	border: solid 2px #E1E1E1;
	width: 30px;
	height: 15px;
	text-align: center;
}
input{
    text-align:center;
}
.recommended{
	overflow: hidden;
	height: 362px;
	width: 1000px;
	margin: 0 auto;
}
.h1sty{
	color: red;
	height: 54px;
	line-height: 54px;
	font-size: 16px;
}
.recommendedProduct{
	width: 170px;
	height: auto;
	float: left;
	/*background-color: #FCFCFC;*/
	margin: 10px;
	border: 1px solid grey;
}
.asty{
	color: red;
	font-size: 14px;
	text-decoration: none;
}
s{
	color: #E5E5E5;
	font-size: 12px;
	margin-left: 15px;
}
.spansty{
	color: gray;
	font-size: 14px;
	display: block;
	height: 60px;
}