.top{
		width: 100%;
		height: 25px;
		background-color: #F2F2F2;
}
.top-left{
		margin-left: 30px;
}
.top-right{
		margin-right: 50px;
}
.top-left>ul{
		float: left;
		margin: 0;
}
.top-right>ul{
		float: right;
		margin: 0;
}
.top-left>ul>li,.top-right>ul>li{
		float: left;
		list-style-type: none;
		font-size: 12px;
		line-height: 25px;
		margin: 0 12px;
}
.top-left>ul>li>a,.top-right>ul>li>a{
		height: 100%;
		text-decoration: none;
		color: #838383;
}
.top-left>ul>li>a:hover,.top-right>ul>li>a:hover{
		color: #336699;
}
.top-left>ul>li>a>span,.top-right>ul>li>a>span{
		color: #336699;
}
.title{
	width: 1100px;
	height: 80px;
	padding: 10px;
	margin: 0 auto;
}
.nav{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.minute{
	width: 1100px;
	height: 35px;
	margin: 0 auto;
	position: relative;
}
.minute>div{
	float: left;
	background-color: #F1F1F1;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	color: gray;
	border-right: solid 1px darkgray;
}
.list{
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	border-bottom: solid 1px gray;
}
.present{
	width: 325px;
	height:70px;
	margin: 15px 0;
	float: left;
	line-height: 25px;
	font-size: 12px;
}
.present>img{
	height: 100%;
	float: left;
}
.divide{
	width: 225px;
	height: 70px;
	margin: 15px 0;
	float: left;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size: 30px;
	color: #30992E;
}
.time,.remarks{
	width: 325px;
	height: 70px;
	float: left;
	margin: 15px 0;
	line-height: 70px;
	text-align: center;
	font-size: 12px;
	color: gray;
}
.remarks{
	width: 225px;
}
.img{
	width: 1100px;
	height: 80px;
	margin: 0 auto;
	margin-top: 50px;
}
.img>div{
	width: 275px;
	height: 80px;
	float: left;
	line-height: 40px;
	font-size: 16px;
	letter-spacing:2px;
	font-weight: bold;
}
.img>div>img{
	float: left;
}
.arrange{
	width: 1100px;
	height: 250px;
	margin: 0 auto;
	background-color: pink;
}
.gray_all{
	width: 1000px;
	height: 225px;
	margin: 0 auto;
}
.gray_all>div{
	width: 200px;
	height: 225px;
	float: left;
}
.gray_text1{
	margin-top: 40px;
	line-height: 30px;
	font-size: 14px;
	cursor: pointer;
	color: #B1B1B1;
}
.color{
	line-height: 15px;
	margin-left: -15px;
	padding-left: 15px;
	margin-bottom: 10px;
	color:gray;
	border-left: 4px solid #F66181;
}
.foots{
	width: 100%;
	height: auto;
	background-color: black;
}
.foots_all{
	width: 1200px;
	height: 190px;
	margin: 0 auto;
	position: relative;
}
.free_1{
	color: green;
}
.foots_text1{
	width: 850px;
	height: 70px;
	position: absolute;
	left: 150px;
	top: 25px;
	font-size: 12px;
	color: #B1B1B1;
	cursor: pointer;
}
.foots_text2{
	position: absolute;
	left: 70px;
	top: 90px;
	font-size: 12px;
	color: #3F3F3F;
	cursor: pointer;
}
.foots_text3{
	width: 1000px;
	height: 100px;
	position: absolute;
	left: 150px;
	top: 90px;
	font-size: 12px;
	line-height: 20px;
	color: #3F3F3F;
}
.foots_text3>a{
	color: #3F3F3F;
	text-decoration: none;
	cursor: pointer;
}
.foots_text3>a:hover{
	color: #B1B1B1;
}
.present-integral{
	width: 1100px;
    height: 50px;
    margin: 0 auto;
}