<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>添加评价</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addEstimate.css}">
	<script th:src="@{/js/jquery.js}"></script>
</head>
<body>
	<div class="product" th:each="order : ${order}">
		<div class="product-left">
			<img th:src="*{order.product_picture}" />
		</div>
		<div class="product-right">
			<div class="details" th:text="*{order.product_keywords}"></div>
			<div class="money">
				<div class="left">价格</div>
				<div class="right" th:text="*{order.product_mallPrice}"></div>
				<div class="left">配送</div>
				<div class="right">快递:  0.00元</div>
				<div class="left">评价</div>
				<div class="right">4.9分 (累计评价 150430 )</div>
			</div>
		</div>
	</div>
	<div class="title">
		<div class="title-text">
			添加评价
		</div>
	</div>
	<div class="judge">
        <form enctype="multipart/form-data" method="post" th:action="@{/EstimateController/AddEstimate(orderId=${order.orderId})}" >
            <div class="anniu">
                <input type="radio" name="estimate_grade" value="3" checked="checked" />好评
                <input type="radio" name="estimate_grade" value="2" />中评
                <input type="radio" name="estimate_grade" value="1" />差评
            </div>
            <textarea name="estimate_content" class="text" maxlength="200"></textarea>
            <div class="input">
                <input type="file" id="file_input" name="file">
                <img src="" class="img" />
            </div>
            <div class="submit">
                <!--<input type="checkbox" />匿名评价-->
                <input type="checkbox" value="0" name="estimate_is_nameless"
                       onclick="this.value=(this.value==0)?1:0"><span>匿名评价</span>
                <input class="submit-" value="提交" type="submit">
            </div>
        </form>
	</div>
</body>
	<script>
		$("input[type='file']").change(function(){
		var file = this.files[0];
		  	if (window.FileReader) {    
		       	var reader = new FileReader();    
		        reader.readAsDataURL(file);    
		        reader.onloadend = function (e) {
		            $(".img").attr("src",e.target.result);
		        }
		    }
		});
	</script>
</html>