<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>新飞商城后台管理系统</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/adminIndex.css}">
	<script th:src="@{/js/jquery.js}"></script>
</head>
<body>
	<div class="roof">
		<div class="title">欢迎进入后台</div>
		<div class="nav-top">
			新飞商城后台管理系统
		</div>
		<div class="user">
			<div class="user_message">
				<img th:src="@{/images/sign-in.gif}"/>
				<span>胡帅博</span>
			</div>
			<div><a th:href="${login}" style="color: #fff;text-decoration: none;">退出</a></div>
		</div>
	</div>
	<div class="left">
		<div>
			<span><i class="iconfont">&#xe67e;</i></span><div class="list_one" id="one">商品及订单管理</div>
			<div id="jiantou1"></div>
			<div class="list_two">
				<div class="addColor" id="src1">商品管理</div>
				<div class="addColor" id="src2">订单管理</div>
			</div>
		</div>
		<div>
			<span><i class="iconfont">&#xe6c6;</i></span><div class="list_one" id="two">活动管理</div>
			<div id="jiantou2"></div>
			<div class="list_two">
				<div class="addColor" id="src3">活动商品管理</div>
				<div class="addColor" id="src4">活动管理</div>
			</div>
		</div>
		<div>
			<span><i class="iconfont">&#xe631;</i></span><div class="list_one" id="src5">敏感词汇管理</div>
			<span><i class="iconfont">&#xe64c;</i></span><div class="list_one" id="src6">用户管理</div>
			<span><i class="iconfont">&#xe78b;</i></span><div class="list_one" id="src7">商品分类管理</div>
		</div>
	</div>
	<div id="frame-div">
		<iframe class="frame" src="" frameborder="0" scrolling="yes"></iframe>
	</div>
</body>
<script th:src="@{/js/adminIndex.js}"></script>
</html>
