<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>我的足迹</title>
	<link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/footprint.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}">
	<script type="text/javascript" th:src="@{/js/footprint.js}"></script>
</head>
<body>
	<div th:include="common/top_header :: copy"></div>
	<div class="title">
		<div class="title-center">
			<img th:href="@{/HomeController/homeProduct}" th:src="@{/images/logo-foot.png}" />
			<span>我的足迹</span>
		</div>
	</div>
	<div class="deleat">
		<div class="deleatcenter">
            <input type="text" class="inputids" style="display: none">
			<span class="multiple_delete">批量删除</span>
            <div class="yes">删除</div>
		</div>
	</div>
	<div class="list">
		<div class="single" th:each="foot : ${footprints}">
            <label class="demo--label select">
                <input class="demo--radio select1" type="checkbox">
                <span class="demo--checkbox demo--radioInput"></span>
            </label>
			<!--<a target="_blank" th:href="@{/ProductListController/toProduct(productId=${foot.productId})}">-->
			<img th:src="${foot.product_picture}"/>
			<!--</a>-->
			<div style="padding: 0 5px;">
				<div class="foot" th:text="${foot.footprintId}" style="display: none"></div>
				<span class="mallPrice" th:text="${foot.product_mallPrice}"></span><br />
				<span class="counterPrice" th:text="${foot.footprint_time}"></span>
			</div>
			<div th:text="${foot.footprintId}" class="footprintId"></div>
			<div class="keywords" th:text="${foot.product_keywords}">发了啥地方可否考虑的是否分是的范德萨开发难度，收款方反倒是</div>
			<div class="similar">找相似</div>
			<div class="deleat-one">
                <i class="fa fa-trash fa-2x"></i>
            </div>
		</div>
	</div>
	<footer>
    	<ul>
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li><br><li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"> <a href="#">招贤纳士</a></li>|
	        <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|
			<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|<br>
	         <p style="display: inline;color: #6C6C6C">网络文化经营许可证：<a>文网文[2010]40号</a></p>&nbsp&nbsp<p style="display: inline;color: #6C6C6C">
			信息网络传播视听节目许可证：1109364号</p>
    	</ul>
	</footer>
</body>
</html>