<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Shortcut Icon" th:href="@{/images/logo.icon}">
    <link rel="stylesheet" th:href="@{font/css/font-awesome.min.css}">
    <title>新飞官方网上商城</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/indent.css}">
    <script type="text/javascript" th:src="@{/js/indent.js}"></script>
    <script>
        function pay() {
            var name=document.getElementsByClassName("namelength")[0].value;
            if(name.length>0){
                return true;
            }else {
                alert("请选择收货地址");
                return false;
            }
        }
    </script>
</head>
<body>
<div th:include="common/top_header :: copy"></div>
<div class="title">
    <img th:href="@{/HomeController/homeProduct}" th:src="@{/images/logo.png}" height="100%" style="float: left;"/>
</div>
    <div class="text">选择收货地址</div>
    <div class="address">
        <div class="shoppingaddress" th:each="shippingAddress : ${shippingAddressList}">
            <input class="ipt address_name" th:value="${shippingAddress.address_name}" style="width: 50px"
                   disabled="disabled">
            <hr style="color: gray;"/>
            <input class="ipt address_shipping" th:value="${shippingAddress.address_shipping}" style="width: 150px"
                   disabled="disabled">
            <input class="ipt address_phone" th:value="${shippingAddress.address_phone}" style="width: 150px"
                   disabled="disabled">
        </div>
    </div>
    <div class="manage">
        <span id="all" style="float: left;">查看所有收货地址</span>
        <a th:href="@{/UserAddressController/shippingAddress(user_name=${session.user.user_name})}">
            <span style="float: right;color: black" class="changee">管理收货地址</span>
        </a>
    </div>
    <div class="text" style="margin-top: 30px;">确认订单信息</div>
    <div class="annotation">
        <div>商品</div>
        <div>单价</div>
        <div>数量</div>
        <div>关键字</div>
        <div>金额</div>
    </div>
    <div class="list" th:each="shoppingCart : ${shoppingCarts}">
        <div class="single">
            <div class="single-introduce">
                <img th:href="@{/ProductListController/toProduct(productId=${shoppingCart.productId},userId=${session.userId})}"
                     th:src="${shoppingCart.product_picture}" height="100%" style="float: left;"/>
            </div>
            <div class="single-text-a">
                <input type="text" class="ipt count" readonly name="total_amount"
                       th:value="${shoppingCart.product_mallPrice} * ${shoppingCount}"
                       style="background-color: #FCFCFC">
            </div>
            <div class="single-text">
                <input type="text" value="无优惠" readonly name="product_keywords" class="ipt"
                       th:value="${shoppingCart.product_keywords}" style="background-color: #FCFCFC">
            </div>
            <div class="single-text">
                <input type="text" class="ipt" readonly name="shoppingCart_count" th:value="${shoppingCount}"
                       style="background-color: #FCFCFC">
            </div>
            <div>
                <input type="text" readonly class="count1" style="display: none" th:value="${shoppingCount}">
                <input type="text" readonly class="pid" style="display: none" th:value="${shoppingCart.productId}">
            </div>
            <input style="display: none" id="rebate" type="text" th:if="${shoppingCarts[0].product_activity != '无'}"
                   th:value="${activity.activity_discount}">
            <div class="single-text">
                <input type="text" class="ipt" readonly name="product_mallPrice"
                       th:value="${shoppingCart.product_mallPrice}" style="background-color: #FCFCFC">
            </div>
        </div>
    </div>
    <form th:action="@{/aliPay/aliPaySum}" method="post">
        <div class="pay">
            <div style="position: relative" class="pay-block" th:each="shippingAddress : ${shippingAddressList}" th:if="${shippingAddress.address_is_default==1}">
                    <div style="position: absolute;top: 0;left: 0;">
                        <span class="font"><b>总金额：</b></span><span style="color: red;font-size: 25px;">￥</span>
                        <input class="money total_amount" id="top" type="text" readonly style="width: 60px;border: 0"><br/>
                    </div>
                    <div style="position: absolute;top: 0;right: 0">
                        <span class="font"><b>实付款：</b></span><span style="color: red;font-size: 25px;">￥</span>
                        <input class="money total_amount" name="WIDtotal_amount" id="bottom" type="text" readonly style="width: 60px;border: 0;float: right;"><br/>
                    </div>
                    <div class="font" style="width:100%;position: absolute;top: 45px;left: 0;">
                        <div style="position: absolute;top: 0;left: 0;"><b>寄送至：</b></div>
                        <input type="text" name="address_shipping" readonly class="addressshipping" th:value="${shippingAddress.address_shipping}">
                    </div>
                    <br/>
                        <div class="font" style="position: absolute;bottom: 0;left: 0;">
                            <b>收货人:</b>
                            <input type="text" name="address_name" class="addressname namelength" readonly th:value="${shippingAddress.address_name}">
                            <input type="text" name="address_phone" readonly class="addressphone" th:value="${shippingAddress.address_phone}">
                        </div>
                    </div>
            </div>
        </div>
        <input type="text" value=" " class="productId" name="productId"/>
        <input type="text" value=" " class="shoppingCount" name="shoppingCount"/>
        <div class="pay2">
            <div class="pay2-block">
                <input value="提交订单" style="border: 0;background-color: red" type="submit">
            </div>
        </div>
    </form>
<div th:include="common/top_header :: duplicate"></div>
</body>
</html>