<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!--<link rel="Shortcut Icon" th:href="@{/images/logo.icon}">-->
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <!--<link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">-->
    <title>新飞官方网上商城</title>
    <script th:src="@{/js/jquery.js}"></script>
    <!--<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/}">
</head>
<body>
<!--<div th:include="common/top_header :: copy"></div>-->
<!--<div th:include="common/top_header :: duplicate"></div>-->
<input type="text" th:value="${activity}" class="activity_time" style="display: none"/>
<div th:include="common/top_header :: copy"></div>
<div class="title">
    <img th:href="@{/HomeController/homeProduct}" th:src="@{/images/logo.png}" height="100%" style="float: left;"/>
    <div class="ipt">
        <div style="position: relative">
            <form th:action="@{/ProductListController/searchProductList/}">
                <div class="all-hint">
                    <input name="product_category" class="ipt-1"/>
                    <div class="hint">
                    </div>
                </div>
                <input class="ipt-2" readonly type="submit" th:value="搜索"/>
            </form>
        </div>
        <ul class="ipt-3">
            <li><a th:href="@{/ProductListController/searchProductList(product_category='对开门冰箱')}">对开门冰箱</a></li>
            <li><a th:href="@{/ProductListController/searchProductList(product_category='立式冷柜')}">立式冷柜</a></li>
            <li><a th:href="@{/ProductListController/searchProductList(product_category='洗衣机')}">洗衣机</a></li>
            <li><a th:href="@{/ProductListController/searchProductList(product_category='智能电视')}">智能电视</a></li>
            <li><a th:href="@{/ProductListController/searchProductList(product_category='节能空调')}">节能空调</a></li>
        </ul>
    </div>
</div>
<div class="classify">
    <div class="classify-left">
        <div class="classify-left-top">全部商品分类</div>
        <div class="classify-left-bottom">
            <ul class="classify-left-bottom-ul">
                <li th:each="oneCategory : ${productOneCategories}">
                    <img th:src="@{/images/donghua.png}" class="donghua">
                    <a th:href="@{/ProductListController/searchProductList(product_category=${oneCategory.category_name})}"
                       th:text="${oneCategory.category_name}" class="a"></a><br/>
                    <span th:text="${'淘你想要的'+oneCategory.category_name}">
                        </span>
                    <div class="classify-list">
                        <div class="classify-fiexd">
                            <a th:href="@{/ProductListController/searchProductList(product_category=${oneCategory.category_name})}">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="classify-list-top" th:text="${oneCategory.category_name}+'专区'"><br
                                style="color: gray"/></div>
                        <div class="classify-list-body">
                            <a th:each="TwoCategories : ${productTwoCategories}"
                               th:href="@{/ProductListController/searchProductList(product_category=${TwoCategories.category_name})}"
                               th:text="${TwoCategories.category_name}"
                               th:if="${TwoCategories.parent_name == oneCategory.category_name && TwoCategories.category_show!=2}">
                            </a>
                        </div>
                        <div class="classify-list-foot">
                            <div class="classify-list-foot-div" th:each="product : ${products}"
                                 th:if="${product.product_category == oneCategory.category_name}">
                                <img th:src="${product.product_picture}"/>
                                <div class="classify-list-foot-text" th:text="${product.product_keywords}"></div>
                                <span class="classify-list-foot-span"
                                      th:text="'￥'+${product.product_counterPrice}"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="classify-right">
            <div class="classify-right-long">
                <a th:href="@{/ActivityController/activityProducts(activity_name=${activities[0].activity_name})}">
                <img class="lunbo" th:src="${activities[0].activity_picture}">
                </a>
                <a th:href="@{/ActivityController/activityProducts(activity_name=${activities[1].activity_name})}">
                    <img class="lunbo" th:src="${activities[1].activity_picture}">
                </a>
                <a th:href="@{/ActivityController/activityProducts(activity_name=${activities[0].activity_name})}">
                    <img class="lunbo" th:src="${activities[0].activity_picture}">
                </a>
                <a th:href="@{/ActivityController/activityProducts(activity_name=${activities[1].activity_name})}">
                    <img class="lunbo" th:src="${activities[1].activity_picture}">
                </a>
                <a th:href="@{/ActivityController/activityProducts(activity_name=${activities[0].activity_name})}">
                    <img class="lunbo" th:src="${activities[0].activity_picture}">
                </a>
            </div>

        <div class="last">
            <div class="last_1">
                <span class="last1"><i class="fa fa-chevron-left fa-3x"></i></span>
            </div>
        </div>
        <div class="next">
            <div class="next_1">
                <span class="next1"><i class="fa fa-chevron-right fa-3x"></i></span>
            </div>
        </div>
        <div class="page">
            <div class="footnav"></div>
            <div class="footnav"></div>
            <div class="footnav"></div>
            <div class="footnav"></div>
        </div>
    </div>
</div>
<div  th:if="${productActivities.size() != 0 && is > 0}" class="recommend">限时抢购</div>
<div class="time">
    <div th:if="${productActivities.size() != 0 && is > 0}">
        <div class="count-down">
            <div class="count-down-text">
                新飞抢购 <br/>
                <span class="count-down-english">FLASH DEALS</span><br/>
                <i class="fa fa-bolt"></i><br/>
                <span class="count-down-text-little">距离本次抢购剩余：</span><br/>
                <!--<p class="count-down-p"><span id="time">a</span></p>-->
                <div id="aa">
                    <div class="time4" id="time4"></div>
                    <div class="time1" id="time1"></div>
                    <div class="time2" id="time2"></div>
                    <div class="time3" id="time3"></div>
                </div>
            </div>
        </div>
        <div class="all-rob">
            <div class="button-last" id="button-last"><</div>
            <div class="button-next" id="button-next">></div>
            <div class="all-rob-long" id="all-rob-long">
                <a target="_blank"
                   th:href="@{/ActivityController/activityProducts(activity_name=${productActivities[0].activity_name})}">
                    <div th:each="productActivity : ${productActivities}">
                        <a target="_blank"
                           th:href="@{/ActivityController/activityProducts(activity_name=${productActivities[0].activity_name})}">
                            <img th:src="${productActivity.product_picture}" width="100%"/>
                        </a>
                        <p th:text="${productActivity.product_keywords}">速度非常，开心贷款，查看训练现场V领可持续</p>
                        <div class="all-money">
                            <div class="money-left" th:text="'￥'+${productActivity.product_mallPrice}">￥:5535元</div>
                            <div class="money-right"><s
                                    th:text="'￥'+${productActivity.product_counterPrice}">￥:5335元</s>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="recommend">新品首发</div>
<div class="today">
    <div class="block-2" id="similar" th:each="product : ${productList}">
        <a target="_blank" th:href="@{/ProductListController/toProduct(productId=${product.productId})}">
            <img th:src="${product.product_picture}" width="198px" height="180px"/>
        </a>
        <div class="block-2-div">
            <span class="money" th:text="${product.product_mallPrice}+'元'"></span>
            <span class="old-money"><s th:text="${product.product_counterPrice}+'元'"></s></span>
            <!--<a th:href="@{/ProductListController/toProduct(productId=${product.productId})}">-->
            <div style="height: 48px;overflow: hidden">
                <span class="block-2-text" th:text="${product.product_keywords}"></span>
            </div>
            <!-- </a>-->
            <div class="block-2-div-foot" th:text="'购买获得'+${product.product_getPoints}+'积分'">
                <span class="right" th:text="'库存'+${product.product_inventory}+'件'"></span>
            </div>
        </div>
        <!--<div class="similarily">-->
        <!--<div class="similarity">查看商品</div>-->
        <!--</div>-->
    </div>
</div>
<div th:each="productOneCategory : ${productOneCategories}" th:if="${productOneCategory.category_show == 1}">
    <div class="recommend" th:text="${productOneCategory.category_name}"></div>
    <div class="today">
        <div class="block-1">
            <img th:src="${productOneCategory.category_img}" width="100%" height="75%"/>
            <div class="little-books">
                <div th:each="TwoCategories : ${productTwoCategories}"
                     th:if="${TwoCategories.parent_name == productOneCategory.category_name && TwoCategories.category_show!=2}">
                    <a th:href="@{/ProductListController/searchProductList(product_category=${TwoCategories.category_name})}"
                       th:text="${TwoCategories.category_name}">
                    </a>
                </div>
            </div>
        </div>
        <div class="block-2" th:each="product : ${products}"
             th:if="${product.product_category == productOneCategory.category_name}">
            <a target="_blank" th:href="@{/ProductListController/toProduct(productId=${product.productId})}">
                <img th:src="${product.product_picture}" style="width:100%;height:170px"/>
            </a>
            <div class="block-2-div">
                <span class="money" th:text="${product.product_mallPrice}">6456元</span>
                <span class="old-money"><s th:text="${product.product_counterPrice}">4153元</s></span><br/>
                <div style="height: 48px;overflow: hidden">
                    <span class="block-2-text" th:text="${product.product_keywords}">新飞BCD-450WGSV 多门冰箱 五重除菌气调保鲜 波光纹钢化玻璃面板</span><br/>
                </div>
                <div class="block-2-div-foot" th:text="'购买获得'+${product.product_getPoints}+'积分'">
                    <span class="right" th:text="'库存'+${product.product_inventory}+'件'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="img">
    <div>
        <img th:src="@{/images/you.png}"/>
        品质保障<br/>
        <span style="color: gray;font-size: 14px;">品质护航&nbsp;&nbsp;购物无忧</span>
    </div>
    <div>
        <img th:src="@{/images/te.png}"/>
        特色服务体验<br/>
        <span style="color: gray;font-size: 14px;">为您呈现不一样的服务</span>
    </div>
    <div>
        <img th:src="@{/images/bang.png}"/>
        帮助中心<br/>
        <span style="color: gray;font-size: 14px;">您的购物指南</span>
    </div>
    <div>
        <img th:src="@{/images/qi.png}"/>
        七天无理由退换货<br/>
        <span style="color: gray;font-size: 14px;">为您提供售后无忧保障</span>
    </div>
</div>
<hr/>
<div th:include="common/top_header :: duplicate"></div>
<!--侧边栏内容-->
<div class="side-bar">
    <div class="side-bar-2">
        <i class="fa fa-paw"></i>
        <a href="#">
            <div class="side-bar-1-hidden">我的足迹</div>
        </a>
    </div>
    <div class="border"></div>
    <div class="side-bar-3">
        <i class="fa fa-shopping-cart"></i><span>购物车</span>
        <a href="#">
            <div class="side-bar-2-hidden">我的购物车</div>
        </a>
    </div>
    <div class="border"></div>
    <div class="side-bar-1">
        <i class="fa fa-star-o"></i>
        <a href="#">
            <div class="side-bar-1-hidden">我的收藏</div>
        </a>
    </div>
    <div class="side-bar-1">
        <i class="fa fa-gears (alias)"></i>
        <a href="#">
            <div class="side-bar-1-hidden">使用方法</div>
        </a>
    </div>
    <div class="side-bar-4">
        <i class="fa fa-chevron-up"></i>
        <a href="#">
            <div class="side-bar-1-hidden">返回顶部</div>
        </a>
    </div>
    <div class="side-bar-5" id="side-bar-5">
        <i class="fa fa-qrcode"></i>
        <div class="side-bar-3-hidden" id="side-bar-3-hidden"><img th:src="@{/images/qr-code.png}"/></div>
    </div>
    <div class="side-bar-6">
        <i class="fa fa-file-text-o"></i>
        <a href="#">
            <div class="side-bar-1-hidden">意见反馈</div>
        </a>
    </div>
</div>
</body>
</html>