<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>账号管理</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/information.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-1.9.0.min.js}"></script>
	<script th:src="@{/js/test.js}"></script>
</head>
<body>
    <div th:include="common/top_header :: copy"></div>
	<div class="title">
		<img th:src="@{/images/xin.png}" alt=""/>
		新飞账号
		<span>退出</span>
	</div>
	<div class="nav">
		<div class="nav_alone">我的账号</div>
		<div class="nav_alone"><a th:href="@{/UserAddressController/shippingAddress}">收货地址</a></div>
	</div>
	<div class="chunk">
		<div class="user_message">
			<div class="user_img">
				<img th:src="@{/images/01.jpg}" alt="" />
			</div>
			<div class="user_name">
				<span class="name">胡帅博</span>
				<br />
				<span class="number">20171554220</span>
			</div>
		</div>
		<div class="user_img2">
			<img th:src="@{/images/01.jpg}" alt="" />
			<div class="chang_img">修改头像</div>
		</div>
		<div class="detailed_message" th:each="user : ${user}">
			<div class="message_title">基本信息</div>
			<div class="message_body">用户名 ：<span th:text="${user.user_name}" class="span1">胡帅博</span><span class="change change_name">修改</span></div>
            <div class="message_body">用户密码 ：*******<span class="change change_password">修改</span></div>
            <div class="message_body">邮箱 ：<span th:text="${user.user_mail}" class="span3"></span><span class="change change_mail">修改</span></div>
			<div class="message_title">高级设置</div>
			<div class="message_body">用户积分 ：<span th:text="${user.userIntegral}">51335</span></div>
			<div class="message_body">手机号 ：<span th:text="${user.user_phone}">18239290281</span></div>
		</div>
	</div>
	<div class="black black_name">
		<div class="revise">
			<div class="revise_top">
				修改用户名
				<div class="close">×</div>
			</div>
			<div class="revise_body">
				<input class="new_name" placeholder="我的用户名" />
			</div>
			<div class="revise_foot">
				<div class="definite modify0">修改</div>
				<div class="cancel">取消</div>
			</div>
		</div>
	</div>
	<div class="black black_password">
		<div class="revise">
			<div class="revise_top">
				修改密码
				<div class="close">×</div>
			</div>
			<div class="revise_body">
				<input class="old_password" type="password" placeholder="原密码" id="prepassword"/>
				<input class="new_password" type="password" placeholder="新密码"  id="repassword"/>
				<input class="new_password2" type="password" placeholder="确认新密码" id="again" onmouseleave="judge()"/>
				<font id="error"></font>
			</div>
			<div class="revise_foot">
				<div class="definite modify1">修改</div>
				<div class="cancel">取消</div>
			</div>
		</div>
	</div>
	<div class="black black_mail">
		<div class="revise">
			<div class="revise_top">
				修改邮箱
				<div class="close">×</div>
			</div>
			<div class="revise_body">
				<input class="new_mail" placeholder="我的邮箱" />
			</div>
			<div class="revise_foot">
				<div class="definite modify2">修改</div>
				<div class="cancel">取消</div>
			</div>
		</div>
	</div>
	<div class="prompt">略略略</div>
	<script type="text/javascript" th:src="@{/js/information.js}"></script>
</body>
</html>