<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>积分兑换-新飞商城</title>
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
    <link th:href="@{/css/exchange.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}">
    <script th:src="@{/js/exchange.js}"></script>
</head>
<body>
<div th:include="common/top_header :: copy"></div>
<div class="title">
    <img th:src="@{/images/exchange.png}"/>
</div>
<div class="center">
    会买，会玩，会生活<br/>凭积分可兑换以下好礼
    <div class="center-left"></div>
    <div class="center-right"></div>
</div>
<div class="all-list">
    <div class="list" th:each="product : ${products}">
        <form th:href="@{/aliPay/toChange(productId=${product.productId})}">
            <img th:src="${product.product_picture}" style="width: 100%;"/>
            <div class="list-fen" th:text="${product.product_needPoints}">35453积分</div>
            <input class="list-button" type="submit" value="立即兑换"/>
        </form>
    </div>
</div>

<!--&lt;!&ndash;分页功能&ndash;&gt;-->

<div class="fenye" th:if="${TotalPages > 0}" style="text-align: center">

    <ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
        <li><a th:href="@{/ProductListController/integralProduct(page=1)}">首页</a></li>
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);"
               th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/ProductListController/integralProduct(page=${i})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li><a th:href="@{/ProductListController/integralProduct(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
    </ul>

    <ul class="pagination" th:if="${Number > 1} and ${Number > 1}"><!--//显示上一页-->
        <li><a th:href="@{/ProductListController/integralProduct(page=1)}">首页</a></li><!--//跳转至第一页-->
        <li><a th:href="@{/ProductListController/integralProduct(page=${Number-1})}">上一页</a></li><!--//请求页数-1-->
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);"
               th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/ProductListController/integralProduct(page=${i})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number != TotalPages}"><a
                th:href="@{/ProductListController/integralProduct(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
        <li><a th:href="@{/ProductListController/integralProduct(page=${Number})}">尾页</a></li><!--//跳转至第Number页-->
    </ul>

</div>


<hr/>
<div th:include="common/top_header :: duplicate"></div>
</body>
</html>