<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>积分兑换-新飞商城</title>
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
    <link th:href="@{/css/exchange.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/exchange.js}"></script>
</head>
<body>
<div th:include="common/top_header :: copy"></div>
<div class="title">
    <img th:src="@{/images/exchange.png}"/>
</div>
<div class="center">
    会买，会玩，会生活<br/>凭积分可兑换以下好礼
    <div class="center-left"></div>
    <div class="center-right"></div>
</div>
<div class="all-list">
    <div class="list" th:each="product : ${products}">
        <form th:action="@{/aliPay/toChange(productId=${product.productId})}">
            <img th:src="${product.product_picture}" style="width: 100%;"/>
            <div class="list-fen" th:text="${product.product_needPoints}">35453积分</div>
            <input class="list-button" type="submit" value="立即兑换"/>
        </form>
    </div>
</div>
<hr/>
<div class="gray_all">
    <div class="gray_text1">
        <div class="color">购物指南</div>
        免费注册<br/>
        开通支付宝<br/>
        支付宝充值
    </div>
    <div class="gray_text1">
        <div class="color">新飞保障</div>
        发票保障<br/>
        售后规则<br/>
        缺货赔付
    </div>
    <div class="gray_text1">
        <div class="color">支付方式</div>
        快捷支付<br/>
        信用卡<br/>
        余额宝<br/>
        蚂蚁花呗<br/>
        货到付款
    </div>
    <div class="gray_text1">
        <div class="color">商家服务</div>
        新飞规则<br/>
        商家入驻<br/>
        商家中心<br/>
        物流服务<br/>
        运营服务
    </div>
    <div style="padding-top: 50px;"><img th:src="@{/images/qr-code.png}"/></div>
</div>
<div class="foots">
    <div class="foots_all">
        <div class="logo" style="position: absolute;top: 25px;left: 25px;">
            <a href="#"><img th:src="@{/images/logo-foot.png}" width="110px" height="50px"/></a>
        </div>
        <div class="foots_text1">
            服务邮箱：xf800@xinfei.com
            全国客服中心电话：400-609-8888<br/>
            有任何购物问题请联系我们在线客服 | 工作时间：周一至周日 8:00－23:00
            Copyright 2017-2020新飞电器 版权所有 豫ICP备 05017920号
        </div>
        <div class="foots_text2">友情链接</div>
        <div class="foots_text3">
            <a href="#">交通查询 </a> |
            <a href="#">租租车 </a> |
            <a href="#">美术教育 </a> |
            <a href="#">中国交通网 </a> |
            <a href="#">长途汽车票 </a> |
            <a href="#">旅游网 </a> |
            <a href="#">首都航空 </a> |
            <a href="#">在线教育 </a> |
            <a href="#">金运之旅 </a> |
            <a href="#">豌豆荚 </a> |
            <a href="#">安卓市场 </a> |
            <a href="#">凤凰网旅游 </a> |
            <a href="#">凯撒旅游 </a> |
            <a href="#">神州租车 </a> |
            <a href="#">国际租车 </a> |
            <a href="#">携程攻略 </a> |
            <a href="#">社区蜂鸟网 </a> |
            <a href="#">天巡国际 </a> |
            <a href="#">机票 </a> |
            <a href="#">游谱旅行网 </a> |
            <a href="#">中国签证 </a> |
            <a href="#">资讯网 </a> |
            <a href="#">梦之旅 </a> |
            <a href="#">交通查询 </a> |
            <a href="#">租租车 </a> |
            <a href="#">美术教育 </a> |
            <a href="#">中国交通网 </a> |
            <a href="#">长途汽车票 </a> |
            <a href="#">旅游网 </a> |
            <a href="#">首都航空 </a> |
            <a href="#">在线教育 </a> |
            <a href="#">金运之旅 </a> |
            <a href="#">豌豆荚 </a> |
            <a href="#">安卓市场 </a> |
            <a href="#">凤凰网旅游 </a> |
            <a href="#">凯撒旅游 </a> |
            <a href="#">神州租车 </a> |
            <a href="#">国际租车 </a> |
            <a href="#">携程攻略 </a> |
            <a href="#">社区蜂鸟网 </a> |
            <a href="#">天巡国际 </a> |
            <a href="#">机票 </a> |
            <a href="#">游谱旅行网 </a> |
            <a href="#">中国签证 </a> |
            <a href="#">资讯网 </a> |
            <a href="#">梦之旅 </a> |
        </div>
    </div>
</div>
</body>
</html>