<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息-账户管理</title>
    <link th:href="@{/css/am-revise.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/images/xflogo.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link th:href="@{/font/css/font-awesome.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div th:include="common/top_header :: copy"></div>
<div class="nav">
    <div class="navheader">账号管理</div>
</div>
<div class="container">
    <div class="aside">
        <a href="#"><img th:src="${user.user_avatar}" class="headphoto"></a>
        <div>
            <dl>
                <dt>账号管理</dt>
                <dd><a th:href="@{/UserManagementController/toSafety(userId=${session.user.userId})}" target="_self">安全设置</a>
                </dd>
                <dd><a th:href="@{/UserManagementController/information(userId=${session.user.userId})}" target="_self">个人资料</a>
                </dd>
                <dd><a th:href="@{/UserAddressController/shippingAddress(user_name=${session.user.user_name})}"
                       target="_self">收货地址</a></dd>

            </dl>

        </div>
    </div>
    <div class="content">
        <div class="info">个人基本资料-头像照片</div>
        <div class="infomain">
            <form th:action="@{/UserManagementController/ModifyAvatar}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" value="本地上传" th:onchange="'javascript:showPreview(this)'"/>
                <input type="hidden" name="userId" th:value="${user.userId}">
                <div class="upload">
                    <img id="portrait" src="" style="display:none;"/>
                </div>
                <input type="submit" th:value="上传">
            </form>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/am-revise.js}"></script>
</body>
</html>