<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>高级检索-新飞商城</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/productList.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/productList.js}"></script>
</head>
<body>
<div th:include="common/top_header :: copy"></div>
<div class="top-search">
    <div class="con-wrap">
        <a>
            <img th:href="@{/HomeController/homeProduct}" th:src="@{/images/logo.png}" class="xflogo">
        </a>
        <div class="search-box">
            <form th:action="@{/ProductListController/searchProductList}" method="post">
                <span class=""><input type="text" name="product_category" th:value="*{product_category}" class="ipt1"
                                      placeholder="请输入要搜索的内容"></span>
                <input type="submit" value="搜索" class="submit">
            </form>

        </div>
        <div class="search-links">
            <a th:each="oneCategory : ${productOneCategories}"
               th:href="@{/ProductListController/searchProductList(product_category=${oneCategory.category_name})}"
               th:text="${oneCategory.category_name}" class="alinks"></a>
        </div>
    </div>
</div>
<div class="page-search">
    <!--//筛选头-->
    <div class="search-table">
        <div class="filter-group-list">
            <div class="list-left">品牌</div>
            <div class="list-right">
                <a href="">新飞</a>
            </div>
        </div>
        <div class="filter-group-list">
            <div class="list-left">电器分类</div>
            <div class="list-right">
                <a th:each="oneCategory : ${productOneCategories}"
                   th:href="@{/ProductListController/searchProductList(product_category=${oneCategory.category_name})}"
                   th:text="${oneCategory.category_name}"></a>
            </div>
        </div>
        <div class="filter-group-list">
            <div class="list-left">详细分类</div>
            <div class="list-right" style="height: auto">
                <a th:each="product_category : ${productTwoCategories}"
                   th:href="@{/ProductListController/searchProductList(product_category=${product_category.category_name})}"
                   th:text="${product_category.category_name}">一级</a>
            </div>
        </div>
        <div class="filter-group-list">
            <div class="list-left">价格区间(死数据)</div>
            <div class="list-right">
                <a href="">1000元以下</a>
                <a href="">1000-2000</a>
                <a href="">2001-3000</a>
                <a href="">3001-5000</a>
                <a href="">5001-8000</a>
                <a href="">8001-10000</a>
                <a href="">10000以上</a>
            </div>
        </div>
    </div>
    <div class="sort-row">
        <div class="filter-group-list" style="border: 1px solid #e8e8e8;">
            <div class="list-left">综合排名</div>
            <div class="list-right" style="background-color:#FAFAFA;">
                <div class="time">上市时间</div>
                <div class="price">
                    价格从高到低
                </div>
                <div class="price">
                    价格从低到高
                </div>
                <input type="text" class="priceipt" placeholder="¥"><em>-</em>
                <input type="text" class="priceipt" placeholder="¥">
                <input type="submit" value="确定" class="queding">
            </div>
        </div>
    </div>
    <div class="show-product">
        <div class="product" th:each="product:${products}">
            <div class="img-box">
                <a th:href="@{/ProductListController/toProduct(productId=${product.productId})}">
                    <img th:src="${product.product_picture}" alt="" style="width: 256px;height: 250px;">
                </a>
            </div>
            <div class="info-font">
                <div class="title-row">
                    <a th:href="@{/ProductListController/toProduct(productId=${product.productId})}" class="fonta1"
                       th:text="${product.product_keywords}">新飞BCD-572WDENU1</a>
                </div>
                <div class="sale-row">
                    <span><strong style="font-size: 14px;color: red;" th:text="'商城价：¥'+${product.product_mallPrice}">¥3543</strong></span>
                    <span style="float: right;">4869人付款</span>
                    <div class="dianping" th:text="'专柜价：¥'+${product.product_counterPrice}"></div>
                </div>
                <div class="seller">共有88家商家在售</div>
            </div>
        </div>

        <!--分页功能-->

        <div class="fenye" th:if="${TotalPages > 0}" style="text-align: center">

            <ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
                <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
                <li><a th:href="@{/ProductListController/toProductList(page=1)}">首页</a></li>
                <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                    <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                    <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);"
                       th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                    <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                       th:href="@{/ProductListController/toProductList(page=${i})}" th:text="${i}"
                       style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
                </li>
                <li><a th:href="@{/ProductListController/toProductList(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
            </ul>

            <ul class="pagination" th:if="${Number > 1} and ${Number > 1}"><!--//显示上一页-->
                <li><a th:href="@{/ProductListController/toProductList(page=1)}">首页</a></li><!--//跳转至第一页-->
                <li><a th:href="@{/ProductListController/toProductList(page=${Number-1})}">上一页</a></li><!--//请求页数-1-->
                <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                    <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                    <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);"
                       th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                    <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                       th:href="@{/ProductListController/toProductList(page=${i})}" th:text="${i}"
                       style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
                </li>
                <li th:if="${Number != TotalPages}"><a
                        th:href="@{/ProductListController/toProductList(page=${Number+1})}">下一页</a></li><!--//请求页数+1-->
                <li><a th:href="@{/ProductListController/toProductList(page=${Number})}">尾页</a></li><!--//跳转至第Number页-->
            </ul>

        </div>

        <div class="back-to-top" onclick="pageScroll()">
            <i class="iconfont">&#xe614;</i>
            <span class="b-to-t">返回顶部</span>
        </div>
        <!--//推荐商品-->
        <div th:if="${session.user != null}">
            <div class="headersell">热门推荐</div>
            <div class="hotsell">
                <figure th:each="recommendedProducts:${recommendedProducts}">
                    <a th:href="@{/ProductListController/toProduct(productId=${recommendedProducts.productId})}">
                        <img th:src="${recommendedProducts.product_picture}" style="width: 232px;height: 232px;">
                    </a>
                    <span style="color: red; font-size: 20px"
                          th:text="${recommendedProducts.product_mallPrice}">¥6666</span>&nbsp;&nbsp;<s
                        th:text="${recommendedProducts.product_counterPrice}">¥5555</s>
                    <a th:href="@{/ProductListController/toProduct(productId=${recommendedProducts.productId})}"
                       class="jieshao" th:text="${recommendedProducts.product_keywords}">
                        新飞除菌新飞除菌新飞除菌新飞除菌
                    </a>
                    <a href="#">新飞有限责任公司</a><span style="float: right;">销量 &nbsp;7</span>
                    <div class="xinfi">
                        <a href="#" style="display: block;">
                            <img th:src="@{/images/xflogo.ico}" class="lettle">
                        </a>
                    </div>
                </figure>
            </div>
        </div>
        <div class="search2">
            <form th:action="@{/ProductListController/searchProductList}" method="post">
                <input type="text" placeholder="请输入搜索内容" class="ipt1 ipt2"><input type="submit" name="product_keywords"
                                                                                  class="submit submit2" value="搜索">
            </form>
        </div>
    </div>
    <div th:include="common/top_header :: duplicate"></div>
</div>
</body>
</html>