<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!--<link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">-->
    <title>商品介绍</title>
    <script th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDetails.css}">
    <script type="text/javascript" th:src="@{/js/productDetails.js}"></script>
</head>
<body th:object="${product}">
<div class="top">
    <div class="top-left">
        <ul>
            <li><a href="#"><span><i class="fa fa-paw"></i>&nbsp;&nbsp;</span> H I ,欢迎来到新飞商城！</a></li>
            <li th:if="${session.user != null }">
                <span th:text="'欢迎您'+${session.user.user_name}"></span>&nbsp;&nbsp;&nbsp;
                <a th:href="@{/cancellation}" style="cursor: pointer">退出</a>
            </li>
            <li th:if="${session.user == null }">
                <a th:href="@{/login}"><i class="fa fa-paw"></i>&nbsp;&nbsp;<span>登录</span></a>
                <a th:href="@{/toRegistered}"><span class="red">立即注册</span></a>
            </li>
        </ul>
    </div>
    <div class="top-right">
        <ul>
            <li th:if="${session.user != null }">
                <a th:href="@{/ProductListController/shoppingCart(userId=${session.user.userId})}">
                    <i class="fa fa-paw" style="color: #336699"></i>
                    &nbsp;&nbsp;购物车</a>
            </li>
            <li th:if="${session.user == null }">
                <a th:href="@{/login}">
                    <i class="fa fa-paw" style="color: #336699"></i>
                    &nbsp;&nbsp;购物车</a>
            </li>
            <li th:if="${session.user != null }">
                <a th:href="@{/ProductListController/collectionProduct(userId=${session.user.userId})}">
                    <i class="fa fa-paw"></i>&nbsp;&nbsp;我的收藏</a>
            </li>
            <li th:if="${session.user == null }">
                <a th:href="@{/login}">
                    <i class="fa fa-paw"></i>&nbsp;&nbsp;我的收藏</a>
            </li>
            <li><a href="#">我的淘宝</a></li>
            <li><a href="#">111111</a></li>
            <li><a href="#"><i class="fa fa-paw"></i>&nbsp;&nbsp;管理系统</a></li>
        </ul>
    </div>
</div>
<div class="title">
    <img th:src="@{/images/logo.png}" th:width="300px" style="float: left;"/>
    <div class="ipt">
        <input class="ipt-1"/>
        <div class="ipt-2">搜索</div>
    </div>
</div>
<hr style="color: gray;"/>
<div class="all">
    <div class="all-left">
        <div class="img-big">
            <img th:src="${images[0]}"/>
        </div>
        <div class="img" th:each="image : ${images}">
            <img th:src="${image}"/>
        </div>
        <br />
        <form th:action="@{/ProductListController/addCollectionProduct(productId=*{productId},userId=${session.userId})}" method="post">
            <input class="collection" value="收藏商品" type="submit">
        </form>
    </div>
    <div class="all-right">
        <div class="all-right-title">
            <!--<span th:text="*{product_keywords}"></span>-->
            <span th:utext="*{product_keywords}" style="color: red;font-size: 16px;"></span>
        </div>
        <input class="productId" type="submit" th:value="*{productId}" style="display: none" />
        <input class="userId" type="submit" th:value="${session.userId}" style="display: none" />
        <div class="money">
            <span class="gray">价格：</span>
            <span class="gray" th:utext="'￥：'+ *{product_counterPrice}"></span><br/>
            <span class="promote">促销价:</span>
            <span th:text="'￥：'+ *{product_mallPrice}" style="color: red">
        </div>
        <div class="freight"><span class="gray">运费</span> 四川成都至 新乡 快递: 0.00</div>
        <div class="information">
            <div>月销量45</div>
            <div>累计评价20</div>
            <div style="border: 0;" th:text="'送积分'+*{product_inventory}"></div>
        </div>
        <div class="gray" style="border: 0;width: 80px;display: inline-block">颜色分类：</div>
        <div class="classify">
            <div>红色</div>
            <div>金色</div>
            <div>银色</div>
        </div>
        <form th:action="@{/pay/aliPay/oneToPay(productId=${product.productId})}">
            <div class="number">
                <span class="gray">数量：</span>
                <div id="subtract">-</div>
                <input id="number" name="shoppingCart_count" type="text" value="1" class="input-a shoppingCart_count"/>
                <div id="add">+</div>
            </div>
            <div class="button">
                <div class="buy">
                    <input type="submit" class="buy" value="立即购买">
                </div>
                <div class="shoppingcart">加入购物车</div>
            </div>
        </form>
        <div class="all-right-foot">
            <span class="gray">承诺：</span>
            <span class="gray">
					<i class="fa fa-paw"></i>
					七天无理由退货
				</span><br/>
            <span class="gray">支付方式:</span>
            <span class="gray"><i class="fa fa-paw"></i>蚂蚁花呗</span>
            <span class="gray"><i class="fa fa-paw"></i>集分宝</span>
            <span class="gray"><i class="fa fa-paw"></i>信用卡支付</span>
        </div>
    </div>
</div>
<hr style="color: gray;margin-top: 20px"/>
<div class="berelated">
    <div class="left"><i class="fa fa-paw"></i></div>
    <div class="right"><i class="fa fa-paw"></i></div>
    <div class="berelated-goods">
        <div class="berelated-goods-long" th:object="${product}">
            <div>
                <img th:src="${images[0]}"/>
                <span></span><br/>
                <span th:text="'￥'+*{product_mallPrice}" style="color: red"></span>
            </div>
        </div>
    </div>
</div>
<div class="details" th:utext="*{product_details}"></div>
<div class="secess">添加成功</div>
</body>
</html>
