<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>收货地址</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shippingAddress.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}" />
    <script type="text/javascript" th:src="@{/js/shippingAddress.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
    <div th:include="common/top_header :: copy"></div>
	<div class="title">
		<img th:src="@{/images/xin.png}" alt="" />
		新飞账号
		<span>退出</span>
	</div>
	<div class="nav">
		<div class="nav_alone"><a th:href="@{/UserManagementController/information(userId=${session.user.userId})}">我的账号</a></div>
		<div class="nav_alone">收货地址</div>
	</div>
	<div class="chunk">
		<div class="user_message">
			<div class="user_img">
				<img th:src="@{/images/01.jpg}" alt="" />
			</div>
			<div class="user_name">
				<span class="name">胡帅博</span>
				<br />
				<span class="number">20171554220</span>
			</div>
		</div>
		<div class="all_address">
			<div class="address_allone" th:each="address : ${shippingAddresslists}">
                <div class="is" style="display: none" th:text="${address.address_is_default}"></div>
                <div class="id" style="display:none" th:text="${address.addressId}"></div>
                <div class="username" style="display: none" th:text="${session.user.user_name}"></div>
				<div class="consignee" th:text="${address.address_name}"></div>
				<div class="mobile" th:text="${address.address_phone}">18239290281(1)</div>
				<div class="residence" th:text="${address.address_shipping}">河南省新乡市红旗区洪门镇河南科技学院(1)</div>
				<div class="operate">
					<a href="#" class="operate_change">修改</a>
					&nbsp;
					<a href="#" class="operrate_deleat">删除</a>
				</div>
			</div>
			<div class="add_address">
				<div class="add">+</div>
				<div class="add_text">添加新地址</div>
			</div>
		</div>
	</div>
	<div class="black">
		<div class="revise">
			<div class="revise_top">
				修改收货地址
				<div class="close">×</div>
			</div>
			<div class="revise_body">
                <input type="text" class="revise_username" style="display:none">
                <input type="text" class="revise_is" style="display:none">
                <input type="text" class="revise_id" style="display:none">
				<input type="text" placeholder="请输入收货人姓名"  class="revise_name" />
				<input type="text" placeholder="请输入收货人手机号"  class="revise_phone"/>
				<textarea placeholder="请输入收货详细地址"  class="revise_address"></textarea>
			</div>
			<div class="revise_foot">
				<div class="definite">修改</div>
				<div class="cancel">取消</div>
			</div>
		</div>
	</div>
</body>
</html>