<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账号管理-收货地址</title>
    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/am-address.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/distpicker.js}"></script>

</head>
<body>
<div class="top">
    <div class="top-left">
        <ul>
            <li><a href="#"><span><i class="fa fa-paw"></i>&nbsp;&nbsp;</span>欢迎来到新飞商城！</a></li>
            <li><a th:href="@{/toLogin}"><i class="fa fa-paw"></i>&nbsp;&nbsp;登录</a></li>
            <li><a th:href="@{/toRegistered}"><span class="red">立即注册</span></a></li>
        </ul>
    </div>
    <div class="top-right">
        <ul>
            <li><a th:href="@{/ProductListController/shoppingCart(userId=${session.user.userId})}"><i class="fa fa-paw"
                                                                                                      style="color: #336699"></i>&nbsp;&nbsp;购物车</a>
            </li>
            <li><a th:href="@{/ProductListController/collectionProduct(userId=${session.user.userId})}"><i
                    class="fa fa-paw"></i>&nbsp;&nbsp;我的收藏</a></li>
            <li><a href="#">我的淘宝</a></li>
            <li><a href="#">111111</a></li>
            <li><a href="#"><i class="fa fa-paw"></i>&nbsp;&nbsp;管理系统</a></li>
        </ul>
    </div>
</div>
<div class="nav">
    <div class="navheader">账号管理</div>
</div>
<div class="containers">
    <div class="aside">
        <a href="#"><img th:src="${session.user.user_avatar}" class="headphoto"></a>
        <div>
            <dl>
                <dt>账号管理</dt>
                <dd><a th:href="@{/UserManagementController/toSafety(userId=${session.user.userId})}" target="_self">安全设置</a>
                </dd>
                <dd><a th:href="@{/UserManagementController/information(userId=${session.user.userId})}" target="_self">个人资料</a>
                </dd>
                <dd><a th:href="@{/UserAddressController/shippingAddress(user_name=${session.user.user_name})}"
                       target="_self">收货地址</a></dd>
            </dl>
        </div>
    </div>
    <div class="content">
        <p class="navp">收货地址</p>
        <div class="item1">
            <label>所在地区</label>
            <div data-toggle="distpicker" data-autoselect="3">
                <select id="prov"></select>
                <select id="city"></select>
                <select id="dist"></select>
            </div>


        </div>
        <form th:action="@{/UserAddressController/addShippingAddress}" method="post">
        <div class="item1">
            <label style="vertical-align: top;">详细地址</label><textarea class="form-control texar"
                                                                      rows="3" id="text"></textarea>
            <input type="hidden" name="address_shipping" id="text2" value="">
        </div>
            <input type="hidden" th:value="${session.user.user_name}" name="user_name">
        <div class="item1">
            <label>收货人姓名</label><input type="text" th:name="address_name"
                                       placeholder="请输入你的用户名" class="ipt1">
        </div>
        <div class="item1">
            <label>手机号码&nbsp;&nbsp;&nbsp;</label><input type="text" th:name="address_phone" placeholder="请输入你的手机号"
                                                        class="ipt1">
        </div>
        <div class="item1">
            <input type="checkbox" value="0" name="address_is_default"
                   onclick="this.value=(this.value==0)?1:0"><span>设置为默认收货地址</span>
            <div class="item1">
                <button id="btn1" class="btn">保存</button>
            </div>
        </div>
        </form>

        <div class="item1">
            <p><a>已保存一条收货地址</a></p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>收货人</th>
                    <th>所在地区</th>
                    <th>详细地址</th>
                    <th>手机</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="address : ${shippingAddresslists}">
                    <td th:text="${address.address_name}"></td>
                    <td th:text="${address.address_shipping}"></td>
                    <td th:text="${address.address_shipping}"></td>
                    <td th:text="${address.address_phone}"></td>
                    <td><a th:href="@{/UserAddressController/toChangeShippingAddress(addressId=${address.addressId})}">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a th:href="@{/UserAddressController/deleteShippingAddress(addressId=${address.addressId})}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script th:src="@{/js/am-address.js}"></script>
</body>
</html>