<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Shortcut Icon" th:href="@{/images/logo.icon}">
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <title>新飞商城购物车</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoppingcart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingcart.js}"></script>
    <script>
        function pay() {
            var shopcartid=document.getElementsByClassName("produc")[0].value;
            if(shopcartid.length>0){
                return true;
            }else{
                return false;
            }
        }
    </script>
</head>
<body>
    <div th:include="common/top_header :: copy"></div>
    <div class="title">
        <img th:src="@{/images/logo.png}" th:href="@{/HomeController/homeProduct}" height="100%" style="float: left;"/>
        <div class="ipt">
            <input class="ipt-1"/>
            <div class="ipt-2">搜索</div>
        </div>
    </div>
    <form th:action="@{/aliPay/toPay}" onsubmit="return pay()">
        <div>
            <input type="text" style="display: none" th:value="${session.userId}" name="userId" class="userId" />
            <input type="text" style="display: none" class="produc" name="shoppingCartId" />
            <div class="all">
                <div style="padding-left: 20px;">全部商品&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;积分兑换</div>
                <div class="right">
                    <div style="display: inline-block;">
                        <input th:value="0" class="zongjiage"
                               style="float: right; color: red;background-color: white;margin: 10px 0; font-size: 14px;width: 50px;border: 0"
                               readonly>
                        <span style="font-size: 12px;color: gray;">已选商品（不包含运费）</span>
                    </div>
                    <input id="jiesuan" type="submit" th:value="结算"
                           style="border:solid 3px #AAAAAA;background-color: #AAAAAA;color: white;"/>
                    <div class="delet">删除</div>
                </div>
            </div>
        </div>
    </form>
    <div class="annotation">
        <div><input type="checkbox" id="all"/>全选</div>
        <div>商品信息</div>
        <div></div>
        <div>规格</div>
        <div>单价</div>
        <div>数量</div>
        <div>金额</div>
        <div class="caozuo">操作</div>
    </div>
    <div class="list" th:each="product,productStats : ${shoppingCarts}">
        <div class="single">
            <input type="text" class="aa" style="display: none" th:value="${product.shoppingCartId}">
            <input type="text" style="display: none" th:value="${product.userId}">
            <input type="checkbox" name="aaa" style="float: left;"/>
            <div class="single-introduce">
                <a target="_blank" th:href="@{/ProductListController/toProduct(productId=${product.productId},userId=${session.userId})}">
                    <img th:src="${product.product_picture}" height="100%"/></a>
                <input class="yanse" type="text" readonly style="color: red;background-color: #FCFCFC;border: 0;vertical-align:top;position: absolute;"
                       th:value="${product.product_keywords}">
            </div>
            <div class="norms">规格：
                <input class="yanse" th:value="${product.product_specification}" readonly style="background-color: #FCFCFC;border: 0"/>
            </div>
            <div class="single-text-a">
                <form th:action="@{/ProductListController/moveToCollectionProduct(productId=*{product.productId},shoppingCartId=*{product.shoppingCartId},userId=${session.user.userId})}" method="post">
                    <input style="height: 24px;border: 0;background-color: #FCFCFC" value="移入收藏夹" type="submit" class="qwe yanse">
                </form>
                <form th:action="@{/ProductListController/deleteShoppingProduct(shoppingCartId=*{product.shoppingCartId},userId=${session.user.userId})}"
                      method="post">
                    <input style="height: 24px;border: 0;background-color: #FCFCFC" value="删除" type="submit" class="qwe yanse">
                </form>
            </div>
            <div class="single-text">
                <!--商品的总价格-->
                <input type="text" class="qian yanse" readonly style="color: red;background-color: #FCFCFC;border: 0;"
                       th:value="${product.shoppingCart_count}*${product.product_mallPrice}">
            </div>
            <div class="single-text">
                <div class="subtract" style="margin-right: -5px;">-</div>
                <input class="number" type="text" th:value="${product.shoppingCart_count}" readonly/>
                <div class="add" style="margin-left: -6px;">+</div>
            </div>
            <div class="single-text" style="text-align: center;">
                <a href="">
                    <input class="qqqq yanse" th:value="${product.product_mallPrice}" readonly
                           style="background-color: #FCFCFC;border: 0;"/><br/>
                    <input class="yanse" th:value="'￥'+${product.product_counterPrice}" readonly disabled="disabled"
                           style="background-color: #FCFCFC;border: 0;"/>
                </a>
            </div>
        </div>
    </div>
</form>
<div th:include="common/top_header :: duplicate"></div>
<div class="prompt">略略略</div>
</body>
</html>
