<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link th:href="@{/css/get-back-password.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/images/xflogo.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link  th:href="@{/font/css/font-awesome.min.css}" rel="stylesheet">

</head>
<body>
<div class="contenter">
    <div class="header">
        <img th:src="@{/images/logo.png}" class="xflogo">
        <p class="register">重置登录密码</p>
    </div>
    <div class="yanzheng">
        <h3 style="text-align: center;font-family: 楷体">你正在通过邮箱进行验证</h3>
        <form th:action="@{/UserManagementController/passwordContrastCode}" method="post" class="form-list">
            <div class="list">
                <input type="text"  value="" name="user_mail"  style="background-color: #fff;width: 230px;height: 24px;"><br>
                <font class="error font1"></font>
            </div>
            <div  style="display: inline-block">
                <input type="text" class="ipt" placeholder="请输入验证码" style="width: 140px;height: 22px;" id="user_code" name="user_code">
            </div>
            <input type="button" id="btn" value="获取验证码" onclick="settime(this)" class="verification-code"/><br>
            <font class="error font1"></font><br>
            <input  type="" value="下一步" readonly name="submit" class="affirm" id="aff">
        </form>
    </div>
    <footer>
        <ul>
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li><br><li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"> <a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|<br>
            &nbsp;&nbsp;<p style="display: inline;color: #6C6C6C">网络文化经营许可证：<a>文网文[2010]40号</a></p>&nbsp&nbsp<p style="display: inline;color: #6C6C6C">信息网络传播视听节目许可证：1109364号</p>
        </ul>
    </footer>

</div>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/get-back-password.js}"></script>
</body>
</html>