<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单-我的新飞</title>
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/dist/js/bootstrap.js}"></script>
    <script th:src="@{/js/myxinfei.js}"></script>
    <link th:href="@{/css/myxinfei.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/copy.css}">
</head>
<body>
<div th:include="common/top_header::header"></div>
<div class="nav1">
    <div class="navheader"> <img th:src="@{/images/logo-foot.png}" ></div>
</div>
<div class="site-header">
    <a th:href="@{/HomeController/homeProduct}">首页</a>
    <span> ＞ </span>
    <a th:href="@{/UserOrderController/userOrderList(userId=${session.user.userId})}">交易订单</a>
</div>
<div class="contain">
    <div class="span4">
        <div class="span4-box">
            <div class="ul-box">
                <div class="box-hd">
                    <h3 class="h33">个人中心</h3>
                    <ul>
                        <li><a target="_blank" th:href="@{/ProductListController/shoppingCart(userId=${session.user.userId})}">购物车</a></li>
                        <li><a th:href="@{/UserOrderController/userOrderList(userId=${session.user.userId})}">我的订单</a></li>
                        <li><a target="_blank" th:href="@{/FootprintController/userFootprint(userId=${session.user.userId})}">我的足迹</a></li>
                        <li><a target="_blank" th:href="@{/ProductListController/collectionProduct(userId=${session.user.userId})}">我的收藏</a></li>
                        <li><a target="_blank" th:href="@{/IntegralController/integralList(userId=${session.user.userId})}">我的积分</a></li>
                        <!-- <li><a href="">我的评价</a></li> -->
                        <li><a th:href="@{/ProductListController/integralProduct}">积分兑换</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="span16">
        <div class="nav">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">全部订单</a></li>
                <li><a href="#ejb" data-toggle="tab">待收货</a></li>
                <li><a href="#ejba" data-toggle="tab">待评价</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <!--1.所有订单-->
                <div class="tab-pane fade in active" id="home">
                    <div class="order-list-box">
                        <div class="detail-header">
                            <h1 th:text="${orders.get(0).order_status}">已付款</h1><h1 style="float:right;"><a href="" class="btn btn2">退款</a></h1>
                            <div class="info">
                                <span class="span1"><a th:text="${orders.get(0).user_name}">王静晓&nbsp;&nbsp;&nbsp;&nbsp;</a></span>|&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="span1">订单号：<a th:text="${orders.get(0).order_number}">11223344556699877</a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="span1" style="float:right;">订单金额:&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red;font-size:20px;" th:text="${orders.get(0).product_PaidPrice}">666元</a></span>
                            </div>
                        </div>
                        <div class="productdet">
                            <div class="product" th:each="order : ${orders}">
                                <a href=""><img th:src="${order.product_picture}" class="img2"></a>
                                <span class="span2">
                                <a th:href="@{/ProductListController/toProduct(productId=${order.productId})}" th:text="${order.product_keywords}" ></a></span><br>
                                <span class="span2" style="margin-left: 104px;margin-top: -32px;"><a th:text="${order.product_PaidPrice}" class="aaa">299</a>元/个</span>
                            </div>
                           
                            <div class="opcate">
                                <div class="rightopcate"><a th:text="${orders.get(0).order_status}" class="btn" style="background:#FF6700;color:#fff;" >待付款</a></div>
                                <div class="rightopcate"><a th:href="@{/UserOrderController/orderDetails(orderId=${orders.get(0).orderId})}" class="btn btn2">订单详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--2.待收货-->
             <div class="tab-pane fade" id="ejb">
                  <div class="tab-pane fade in active" id="home">
                      <div class="order-list-box">
                          <div class="detail-header">
                              <h1 th:text="${orders.get(0).order_status}">已付款</h1><h1 style="float:right;"><a href="" class="btn btn2">退款</a></h1>
                              <div class="info">
                                  <span class="span1"><a th:text="${orders.get(0).user_name}">王静晓&nbsp;&nbsp;&nbsp;&nbsp;</a></span>|&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="span1">订单号：<a th:text="${orders.get(0).order_number}">11223344556699877</a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="span1" style="float:right;">订单金额:&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red;font-size:20px;" th:text="${orders.get(0).product_PaidPrice}">666元</a></span>
                              </div>
                          </div>
                          <div class="productdet">
                              <div class="product" th:each="order : ${orders}">
                                  <a href=""><img th:src="${order.product_picture}" class="img2"></a>
                                  <span class="span2">
                                <a th:href="@{/ProductListController/toProduct(productId=${order.productId})}" th:text="${order.product_keywords}" ></a></span><br>
                                  <span class="span2" style="margin-left: 104px;margin-top: -32px;"><a th:text="${order.product_PaidPrice}" class="aaa">299</a>元/个</span>
                              </div>

                              <div class="opcate">
                                  <div class="rightopcate"><a th:text="${orders.get(0).order_status}" class="btn" style="background:#FF6700;color:#fff;" >待付款</a></div>
                                  <div class="rightopcate"><a th:href="@{/UserOrderController/orderDetails(orderId=${orders.get(0).orderId})}" class="btn btn2">订单详情</a></div>
                              </div>
                          </div>
                      </div>
            </div> 
            </div>

                <!--3.待评价 -->
        
             <div class="tab-pane fade" id="ejba">
                   <div class="tab-pane fade in active" id="home">
                       <div class="order-list-box">
                           <div class="detail-header">
                               <h1 th:text="${orders.get(0).order_status}">已付款</h1><h1 style="float:right;"><a  class="btn btn2">退款</a></h1>
                               <div class="info">
                                   <span class="span1"><a th:text="${orders.get(0).user_name}">王静晓&nbsp;&nbsp;&nbsp;&nbsp;</a></span>|&nbsp;&nbsp;&nbsp;&nbsp;
                                   <span class="span1">订单号：<a th:text="${orders.get(0).order_number}">11223344556699877</a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                   <span class="span1" style="float:right;">订单金额:&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red;font-size:20px;" th:text="${orders.get(0).product_PaidPrice}">666元</a></span>
                               </div>
                           </div>
                           <div class="productdet">
                               <div class="product" th:each="order : ${orders}">
                                   <a href=""><img th:src="${order.product_picture}" class="img2"></a>
                                   <span class="span2">
                                <a th:href="@{/ProductListController/toProduct(productId=${order.productId})}" th:text="${order.product_keywords}" ></a></span><br>
                                   <span class="span2" style="margin-left: 104px;margin-top: -32px;"><a th:text="${order.product_PaidPrice}" class="aaa">299</a>元/个</span>
                               </div>

                               <div class="opcate">
                                   <div class="rightopcate"><a th:text="${orders.get(0).order_status}" class="btn" style="background:#FF6700;color:#fff;" >待付款</a></div>
                                   <div class="rightopcate"><a th:href="@{/UserOrderController/orderDetails(orderId=${orders.get(0).orderId})}" class="btn btn2">订单详情</a></div>
                               </div>
                           </div>
                       </div>
             </div> 
            </div>

        
    </div>
</div>
</div>
</div>
<div th:include="common/top_header :: duplicate"></div>
</body>
</html>