<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单-我的新飞</title>
    <link rel="shortcut icon" th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/dist/js/bootstrap.js}"></script>
    <script th:src="@{/js/myxinfei.js}"></script>
    <link th:href="@{/css/myxinfei.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:include="common/top_header::header"></div>
<div class="nav1">
    <div class="navheader"> <img th:src="@{/images/logo-foot.png}" ></div>
</div>
<div class="site-header">
    <a th:href="@{/HomeController/homeProduct}">首页</a>
    <span> ＞ </span>
    <a th:href="@{/UserOrderController/userOrderList(userId=${session.userId})}">交易订单</a>
</div>
<div class="contain">
    <div class="span4">
        <div class="span4-box">
            <div class="ul-box">
                <div class="box-hd">
                    <h3 class="h33">个人中心</h3>
                    <ul>
                        <li><a target="_blank" th:href="@{/ProductListController/shoppingCart(userId=${session.userId})}">购物车</a></li>
                        <li><a th:href="@{/UserOrderController/userOrderList(userId=${session.userId})}">我的订单</a></li>
                        <li><a target="_blank" th:href="@{/FootprintController/userFootprint(userId=${session.userId})}">我的足迹</a></li>
                        <li><a target="_blank" th:href="@{/ProductListController/collectionProduct(userId=${session.userId})}">我的收藏</a></li>
                        <li><a target="_blank" th:href="@{/IntegralController/integralList(userId=${session.userId})}">我的积分</a></li>
                        <!-- <li><a href="">我的评价</a></li> -->
                        <li><a th:href="@{/ProductListController/integralProduct}">积分兑换</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="span16">
        <div class="nav">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">全部订单</a></li>
                <li><a href="#ejb" data-toggle="tab">待收货</a></li>
                <li><a href="#ejba" data-toggle="tab">待评价</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <!--1.所有订单-->
                <div class="tab-pane fade in active" id="home">
                    <div class="annotation">
                        <div>宝贝</div>
                        <!--<div>单价</div>-->
                        <div>数量</div>
                        <div>商品操作</div>
                        <div>实际付款</div>
                        <div>交易状态</div>
                    </div>
                    <div class="list">
                        <div class="single" th:each="order : ${orders}">
                            <div class="one">
                                <img th:src="${order.product_picture}" alt="" style="height: 110px;width:110px;">
                                <a class="aa1" target="_blank" th:href="@{/ProductListController/toProduct(productId=${order.productId})}" th:text="${order.product_keywords}" >的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多</a>
                            </div>
                            <div class="two">
                                <a th:text="${order.order_quantity}">1</a>
                            </div>
                            <div class="two">
                                <a th:href="@{/UserOrderController/orderDetails(orderId=${order.orderId})}">订单详情</a>
                                <a href="">退款</a>
                            </div>
                            <div class="two">
                                <a th:text="${order.product_PaidPrice}">111</a>
                            </div>
                            <div class="two">
                                <a href="javascript:void(0);"
                                   th:onclick="'javascript:userAccepted('+${order.orderId}+');'"
                                   th:if="${order.order_status.equals('待收货')}"
                                   th:text="${order.order_status}">待发货</a>
                                <a th:href="@{/EstimateController/toAddEstimate(orderId=${order.orderId})}" th:if="${order.order_status.equals('待评价')}" th:text="${order.order_status}">待评价</a>
                                <a th:if="${order.order_status.equals('交易成功')}"
                                   th:text="${order.order_status}">交易成功</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--2.待收货-->
            <div class="tab-pane fade" id="ejb">
                <div class="annotation">
                    <div>宝贝</div>
                    <!--<div>单价</div>-->
                    <div>数量</div>
                    <div>商品操作</div>
                    <div>实际付款</div>
                    <div>交易状态</div>
                </div>
                <div class="list">
                    <div class="single" th:each="order : ${orders}">
                        <div class="one">
                            <img th:src="${order.product_picture}" alt="" style="height: 110px;width:110px;">
                            <a class="aa1" th:href="@{/ProductListController/toProduct(productId=${order.productId})}" th:text="${order.product_keywords}">的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多</a>
                        </div>
                        <div class="two">
                            <a th:text="${order.order_quantity}">1</a>
                        </div>
                        <div class="two">
                            <a href="">订单详情</a><a href="">退款</a>
                        </div>
                        <div class="two">
                            <a th:text="${order.product_PaidPrice}">111</a>
                        </div>
                        <div class="two">
                            <a href="javascript:void(0);"
                               th:onclick="'javascript:userAccepted('+${order.orderId}+');'"
                               th:if="${order.order_status.equals('待收货')}"
                               th:text="${order.order_status}">待发货</a>
                            <a th:href="@{/EstimateController/toAddEstimate(orderId=${order.orderId})}" th:if="${order.order_status.equals('待评价')}" th:text="${order.order_status}">待评价</a>
                            <a th:if="${order.order_status.equals('交易成功')}"
                               th:text="${order.order_status}">交易成功</a>
                        </div>
                    </div>
                </div>
            </div>

                <!--3.待评价 -->
        <div class="tab-pane fade" id="ejba">
            <div class="annotation">
                <div>宝贝</div>
                <!--<div>单价</div>-->
                <div>数量</div>
                <div>商品操作</div>
                <div>实际付款</div>
                <div>交易状态</div>
            </div>
            <div class="list">
                <div class="single" th:each="order : ${orders}">
                    <div class="one">
                        <img th:src="${order.product_picture}" alt="" style="height: 110px;width:110px;">
                        <a class="aa1" th:href="@{/ProductListController/toProduct(productId=${order.productId})}" th:text="${order.product_keywords}" >的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多</a>
                    </div>
                    <div class="two">
                        <a th:text="${order.order_quantity}">1</a>
                    </div>
                    <div class="two">
                        <a href="">订单详情</a><a href="">退款</a>
                    </div>
                    <div class="two">
                        <a th:text="${order.product_PaidPrice}">111</a>
                    </div>
                    <div class="two">
                        <a href="javascript:void(0);"
                           th:onclick="'javascript:userAccepted('+${order.orderId}+');'"
                           th:if="${order.order_status.equals('待收货')}"
                           th:text="${order.order_status}">待发货</a>
                        <a th:href="@{/EstimateController/toAddEstimate(orderId=${order.orderId})}" th:if="${order.order_status.equals('待评价')}" th:text="${order.order_status}">待评价</a>
                        <a th:if="${order.order_status.equals('交易成功')}"
                           th:text="${order.order_status}">交易成功</a>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>